force-app/main/default/flows/Assignment_Request_Validation_Triggers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_1_of_EDS_Validation_Assignment</name>
        <label>WebPos Validation Assignment</label>
        <locationX>94</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Web_POSAssignmentRequestValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Messasing_POS_Assignment_IsChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Messasing_POS_Validation_Assignment</name>
        <label>Mobile APP Validation Assignment</label>
        <locationX>94</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobileAppPOSAssignmentRequestValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Mobile_APP_Assignment_IsChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Mobile_APP_Validation_Assignment</name>
        <label>Data POS Validation Assignment</label>
        <locationX>50</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>$Record.DataPOSAssignmentRequestValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_TAM_Validation_Assignment</name>
        <label>EDS Validation Assignment</label>
        <locationX>94</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.EDSAssignmentRequestValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_EDS_Assignment_IsChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_WebPos_Validation_Assignment</name>
        <label>Messasing POS Validation Assignment</label>
        <locationX>94</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.MessasingPOSAssignmentRequestValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Messasing_POS_Assignment_IsChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CSM_Validation_Assignment</name>
        <label>CSM Validation Assignment</label>
        <locationX>94</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CSMAssignmentRequestValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TAM_Assignment_IsChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TAM_Validation_Assignment</name>
        <label>TAM Validation Assignment</label>
        <locationX>94</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.TAMAssignmentRequestValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_TAM_Assignment_IsChanged</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Product_Found</name>
        <label>Any Product Found?</label>
        <locationX>226</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>TAM_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Products.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSM_Validation_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Any_Product_Found</name>
        <label>Any Product Found?</label>
        <locationX>226</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_TAM_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Opp_Products.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAM_Validation_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_EDS_Assignment_IsChanged</name>
        <label>WebPos Assignment IsChanged</label>
        <locationX>380</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Messasing_POS_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Web_POS_Assignment_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Web_POS_Assignment_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Get_Opp_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Messasing_POS_Assignment_IsChanged</name>
        <label>Mobile APP Assignment IsChanged</label>
        <locationX>380</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Mobile_APP_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mobile_App_POS_Assignment_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mobile_App_POS_Assignment_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Get_Opp_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Mobile_APP_Assignment_IsChanged</name>
        <label>Data POS Assignment IsChanged</label>
        <locationX>380</locationX>
        <locationY>3887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_POS_Assignment_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_POS_Assignment_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Get_Opp_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_TAM_Assignment_IsChanged</name>
        <label>EDS Assignment IsChanged</label>
        <locationX>380</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_EDS_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EDS_Assignment_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EDS_Assignment_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Opp_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Any_Product_Found</name>
        <label>Any Product Found?</label>
        <locationX>226</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_EDS_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Opp_Products.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_TAM_Validation_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Any_Product_Found</name>
        <label>Any Product Found?</label>
        <locationX>226</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Messasing_POS_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Get_Opp_Products.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_EDS_Validation_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Any_Product_Found</name>
        <label>Any Product Found?</label>
        <locationX>226</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Messasing_POS_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_4_of_Get_Opp_Products.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_WebPos_Validation_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_5_of_Any_Product_Found</name>
        <label>Any Product Found?</label>
        <locationX>226</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Mobile_APP_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_5_of_Get_Opp_Products.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Messasing_POS_Validation_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_Any_Product_Found</name>
        <label>Any Product Found?</label>
        <locationX>182</locationX>
        <locationY>4103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_6_of_Get_Opp_Products.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Mobile_APP_Validation_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CSM_Assignment_IsChanged</name>
        <label>CSM Assignment IsChanged</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>TAM_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSM_Assignment_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CSM_Assignment_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Messasing_POS_Assignment_IsChanged</name>
        <label>Messasing POS Assignment IsChanged</label>
        <locationX>380</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Messasing_POS_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Messaging_POS_Assignment_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Messaging_POS_Assignment_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Get_Opp_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TAM_Assignment_IsChanged</name>
        <label>TAM Assignment IsChanged</label>
        <locationX>380</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_TAM_Assignment_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAM_Assignment_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAM_Assignment_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Opp_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assignment Request Validation Triggers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment Request Validation Triggers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>226</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Any_Product_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile App</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Smart Recommender</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Architect</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Predictive Audiences</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Suite</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transactional Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Recommendations</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eureka</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsert API</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call an API</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>226</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Any_Product_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Suite</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Architect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>226</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Any_Product_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desktop Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instory</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web Push</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_4_of_Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>226</locationX>
        <locationY>2795</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Any_Product_Found</targetReference>
        </connector>
        <filterLogic>1 AND ((8 AND (6 OR 7 OR 10)) OR (9 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 10)))</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Suite</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Recommendation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Architect</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transactional Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Whatsapp</stringValue>
            </value>
        </filters>
        <filters>
            <field>OppStage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>OppStage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insider Whatsapp Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_5_of_Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>226</locationX>
        <locationY>3395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_5_of_Any_Product_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile App</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_6_of_Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>182</locationX>
        <locationY>3995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6_of_Any_Product_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eureka</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Predictive Audiences</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Smart Recommender</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>226</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Product_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile App</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desktop Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insider Whatsapp Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instory</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Smart Recommender</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Architect</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Predictive Audiences</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Suite</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web Push</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facebook Messenger</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transactional Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Recommendations</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eureka</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsert API</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call an API</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CSM_Assignment_IsChanged</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CSM_Assignment_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAM_Assignment_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EDS_Assignment_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Web_POS_Assignment_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Messaging_POS_Assignment_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_App_POS_Assignment_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Data_POS_Assignment_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
