force-app/main/default/flows/Blocker_and_Flags_Slack_Msg.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_EMEA</name>
        <label>EMEA</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OnboardingBlockerFlags</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a08Pz000009TBJ4IAO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_EMEA</name>
        <label>EMEA</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OnboardingBlockerFlags</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a08Pz000009TBJ4IAO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EMEA</name>
        <label>EMEA</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OnboardingBlockerFlags</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a08Pz000009TBJ4IAO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EMEAA</name>
        <label>EMEA</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OnboardingBlockerFlags</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a08Pz000009TBJ4IAO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Onboarding_Directors</name>
        <label>Onboarding Directors</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005Pz000004FZcfIAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA</targetReference>
            </connector>
            <label>Asli</label>
        </rules>
        <rules>
            <name>firuza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0058d000004UevPAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEAA</targetReference>
            </connector>
            <label>firuza</label>
        </rules>
        <rules>
            <name>bruno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0058d000004UeuwAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_EMEA</targetReference>
            </connector>
            <label>bruno</label>
        </rules>
        <rules>
            <name>angie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0058d000004UeufAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_EMEA</targetReference>
            </connector>
            <label>angie</label>
        </rules>
    </decisions>
    <description>OD&apos;s will receive a notification when Blockers or flags fields are changed/filled.</description>
    <environments>Default</environments>
    <interviewLabel>Blocker and Flags Slack Msg {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OD Blocker and Flags Slack Msg</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Onboarding_Directors</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8 ) OR (10 AND 9)</filterLogic>
        <filters>
            <field>Low_Alert_Flags__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Low_Alert_Flags__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Medium_Alert_Flag__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Medium_Alert_Flag__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>High_Alert_Flags__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>High_Alert_Flags__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Block_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Block_Reason__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Blockers__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Blockers__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Implementations__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OnboardingBlockerFlags</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;Hi {!$Record.Owner:User.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;﻿There is an onboarding flag or blocker for &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;{!$Record.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;Low alert flag: {!$Record.Low_Alert_Flags__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;Medium alert flag: {!$Record.Medium_Alert_Flag__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;High alert flag:&amp;nbsp;{!$Record.High_Alert_Flags__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;Block Reason:&amp;nbsp;{!$Record.Block_Reason__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;Block Explanation: {!$Record.Block_Explanation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;The implementation link is:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://insider3.lightning.force.com/lightning/r/Implementations__c/%7B!$Record.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; background-color: rgb(248, 248, 248);&quot;&gt;https://insider3.lightning.force.com/lightning/r/Implementations__c/{!$Record.Id}/view&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;Please review this change in your account and reach out if you have any questions.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(248, 248, 248); color: rgb(29, 28, 29);&quot;&gt;We appreciate all of your efforts!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
