force-app/main/default/flows/FeeTypeValidationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Eureka_Assignment</name>
        <label>Eureka Assignment</label>
        <locationX>2338</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>EurekaAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flex_Fee_1st_Party_User_Volume_Assignment</name>
        <label>[Flex Fee] - 1st Party User Volume Assignment</label>
        <locationX>1546</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FlexFee1stPartyUserVolume</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flex_Fee_Checkbox_Assignment</name>
        <label>Flex Fee Checkbox Assignment</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FlexFeeProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Flex_Fee_Email_Volume_Assignment</name>
        <label>[Flex Fee] Email Volume Assignment</label>
        <locationX>1018</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FlexFeeEmailVolume</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flex_Fee_Monthly_Unique_Search_Volume_Assignment</name>
        <label>[Flex Fee] - Monthly Unique Search Volume Assignment</label>
        <locationX>1282</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FlexFeeMonthlyUniqueSearchVolume</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flex_Fee_Tracked_App_Users_Assignment</name>
        <label>[Flex Fee] Tracked App Users Assignment</label>
        <locationX>1810</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FlexFeeTrackedAppUsersAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flex_Fee_Tracked_Web_Users_Assignment</name>
        <label>[Flex Fee] Tracked Web Users Assignment</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FlexFeeTrackedWebUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InsiderWP_Assignment</name>
        <label>InsiderWP Assignment</label>
        <locationX>2866</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>InsiderWPAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mindbehind_Assignment</name>
        <label>Mindbehind Assignment</label>
        <locationX>3130</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>MindbehindAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SMS_Assignment</name>
        <label>SMS Assignment</label>
        <locationX>2074</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SMSAssignmentBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Upsert_API_Assignment</name>
        <label>Upsert API Assignment</label>
        <locationX>2602</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>UpsertAPIAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Record_Found</name>
        <label>Any Record Found?</label>
        <locationX>1326</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Which_Type_of_Flex_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_s_Flex_Product_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_s_Flex_Product_Records_with_Territory_Filter.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Type_Mapping_Looper</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Record_Found2</name>
        <label>Any Record Found</label>
        <locationX>226</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Which_Type_of_Flex_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_s_Flex_Product_Records_with_Territory_Filter.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Type_Mapping_Looper</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flex_Fee_Product_Found</name>
        <label>Flex Fee Product Found?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Flex_Fee_Checkbox_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_s_Products.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Type_Mappings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type_Mapping_Found</name>
        <label>Product Type Mapping Found?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductTypeMappingRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Type_Mapping_Looper</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Product_Type_Found</name>
        <label>Subscription Product Type Found?</label>
        <locationX>2173</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_s_Subscription_Product_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Filter_Necessary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Territory_Filter_Necessary</name>
        <label>Territory Filter Necessary?</label>
        <locationX>776</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Get_Opp_s_Flex_Product_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.TerritoryFilter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_s_Flex_Product_Records_with_Territory_Filter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Type_of_Flex_Fee</name>
        <label>Which Type of Flex Fee</label>
        <locationX>2074</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Product_Type_Mapping_Looper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flex_Fee_Tracked_Web_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desktop Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flex_Fee_Tracked_Web_Users_Assignment</targetReference>
            </connector>
            <label>[Flex Fee] Tracked Web Users (Desktop Web)</label>
        </rules>
        <rules>
            <name>Flex_Fee_Email_Volume</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Suite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flex_Fee_Email_Volume_Assignment</targetReference>
            </connector>
            <label>[Flex Fee] Email Volume (Email Suite)</label>
        </rules>
        <rules>
            <name>Flex_Fee_Monthly_Unique_Search_Volume</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Flex Fee] - Monthly Unique Search Volume</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flex_Fee_Monthly_Unique_Search_Volume_Assignment</targetReference>
            </connector>
            <label>[Flex Fee] - Monthly Unique Search Volume</label>
        </rules>
        <rules>
            <name>Flex_Fee_1st_Party_User_Volume</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Flex Fee] - 1st Party User Volume</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flex_Fee_1st_Party_User_Volume_Assignment</targetReference>
            </connector>
            <label>[Flex Fee] - 1st Party User Volume</label>
        </rules>
        <rules>
            <name>Flex_Fee_Tracked_App_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile App</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flex_Fee_Tracked_App_Users_Assignment</targetReference>
            </connector>
            <label>[Flex Fee] Tracked App Users (Mobile App)</label>
        </rules>
        <rules>
            <name>SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Assignment</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>Eureka</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eureka</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eureka_Assignment</targetReference>
            </connector>
            <label>Eureka</label>
        </rules>
        <rules>
            <name>Upsert_API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsert API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_API_Assignment</targetReference>
            </connector>
            <label>Upsert API</label>
        </rules>
        <rules>
            <name>Insider_Whatsapp_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insider Whatsapp Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsiderWP_Assignment</targetReference>
            </connector>
            <label>Insider Whatsapp Business</label>
        </rules>
        <rules>
            <name>Mindbehind_Whatsapp_Conversations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Type_Mapping_Looper.FlexProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mindbehind Whatsapp Conversations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mindbehind_Assignment</targetReference>
            </connector>
            <label>Mindbehind Whatsapp Conversations</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FeeTypeValidationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FeeTypeValidationFlow</label>
    <loops>
        <name>Product_Type_Mapping_Looper</name>
        <label>Product Type Mapping Looper</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>ProductTypeMappingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Opp_s_Subscription_Product_Records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_s_Flex_Product_Records</name>
        <label>Get Opp&apos;s Flex Product Records</label>
        <locationX>1326</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Type_Mapping_Looper.FlexProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FeeTypeFormula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flex Fee</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductTerritoryFormula__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_s_Flex_Product_Records_with_Territory_Filter</name>
        <label>Get Opp&apos;s Flex Product Records with Territory Filter</label>
        <locationX>226</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Type_Mapping_Looper.FlexProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductTerritoryFormula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_s_Subscription_Product_Records.ProductTerritoryFormula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FeeTypeFormula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flex Fee</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductTerritoryFormula__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_s_Products</name>
        <label>Get Opp&apos;s Products</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flex_Fee_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FeeTypeFormula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flex Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_s_Subscription_Product_Records</name>
        <label>Get Opp&apos;s Subscription Product Records</label>
        <locationX>2173</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription_Product_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Type_Mapping_Looper.SubscriptionProductFamily__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FeeTypeFormula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_s_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Type_Mappings</name>
        <label>Get Product Type Mappings</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Type_Mapping_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductTypeMapping__c</object>
        <outputReference>ProductTypeMappingRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FlexProduct__c</queriedFields>
        <queriedFields>SubscriptionProductFamily__c</queriedFields>
        <queriedFields>TerritoryFilter__c</queriedFields>
        <queriedFields>isActive__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EurekaAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlexFee1stPartyUserVolume</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlexFeeEmailVolume</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlexFeeMonthlyUniqueSearchVolume</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlexFeeProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlexFeeTrackedAppUsersAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlexFeeTrackedWebUsers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InsiderWPAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MindbehindAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductTypeMappingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTypeMapping__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMSAssignmentBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpsertAPIAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
