force-app/main/default/flows/Gachapon_Selection_Screen_on_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Action_Selection</name>
        <label>Action Selection</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creation_of_New_Gachapon_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_InOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InOne_Creation_Screen</targetReference>
            </connector>
            <label>Creation of New InOne Record</label>
        </rules>
        <rules>
            <name>Existing_Ones_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_InOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InOnes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Existing Ones Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Record_Found</name>
        <label>Any Record Found?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Notification_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_InOnes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_InOne_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Screen Flow for Selection/Creation of InOnes</description>
    <dynamicChoiceSets>
        <name>GachaponRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GachaponName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.AccountId</elementReference>
            </value>
        </filters>
        <object>InOne__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>GachaponRecordName</name>
        <dataType>String</dataType>
        <expression>{!Get_Quote.Opportunity.Account.Name}&amp;&quot; - &quot;&amp;{!Gachapon_ID}</expression>
    </formulas>
    <formulas>
        <name>InOneItemNameForNewGachapon</name>
        <dataType>String</dataType>
        <expression>{!Get_Quote.Name}&amp;&quot; - &quot;&amp;{!Gachapon_ID}</expression>
    </formulas>
    <formulas>
        <name>RunningUserProfileId</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <interviewLabel>Gachapon Selection Screen on Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InOne Selection/Creation Screen on Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_InOne_Item</name>
        <label>Create InOne Item</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>InOne__c</field>
            <value>
                <elementReference>NewGachaponID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InOneItemNameForNewGachapon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Quote.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>InOneItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_InOne_Record</name>
        <label>Create New InOne Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>NewGachaponID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_InOne_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>CustomerName__c</field>
            <value>
                <elementReference>Get_Quote.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GachaponID__c</field>
            <value>
                <elementReference>Gachapon_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GachaponName__c</field>
            <value>
                <elementReference>Gachapon_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GachaponRecordName</elementReference>
            </value>
        </inputAssignments>
        <object>InOne__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_InOnes</name>
        <label>Get Existing InOnes</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GachaponID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Gachapon_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InOne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gachapon_ID_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Duplicate_Notification_Screen</name>
        <label>Duplicate Notification Screen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateNotification</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(228, 5, 5);&quot;&gt;There is a record on the system with the gachapon id you entered, please check the gachapon id.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;You can click the &lt;/em&gt;&lt;a href=&quot;https://insider3--partial.sandbox.lightning.force.com/lightning/r/InOne__c/{!Get_Existing_InOnes.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;link&lt;/em&gt;&lt;/a&gt;&lt;em&gt; to view the existing record.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gachapon_ID_Selection</name>
        <label>Gachapon ID Selection</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Selection</targetReference>
        </connector>
        <fields>
            <name>InOnes</name>
            <choiceReferences>GachaponRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>InOnes</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_InOne</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_New_InOne</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New InOne</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>RunningUserProfileId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>00e8d000001rSJF</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RunningUserProfileId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>00e8d000000ZBwl</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InOne_Creation_Screen</name>
        <label>InOne Creation Screen</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Existing_InOnes</targetReference>
        </connector>
        <fields>
            <name>Gachapon_Name</name>
            <dataType>String</dataType>
            <fieldText>Gachapon Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gachapon_ID</name>
            <dataType>String</dataType>
            <fieldText>Gachapon ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewGachaponID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
