force-app/main/default/flows/Gainsight_Status_Update_with_InOne_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Gainsight_Status_Assignment</name>
        <label>Gainsight Status Assignment</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7. Contract Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InOne_Item_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gainsight_Status_Assignment2</name>
        <label>Gainsight Status Assignment</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6. PoC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InOne_Item_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gainsight_Status_Assignment3</name>
        <label>Gainsight Status Assignment</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8. Onboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InOne_Item_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gainsight_Status_Assignment4</name>
        <label>Gainsight Status Assignment</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12. Incomplete Deal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InOne_Item_Looper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Record_Found</name>
        <label>Any Record Found?</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InOneItemsRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Statuses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gainsight_Statuses</name>
        <label>Gainsight Statuses</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contraction_Confirmation</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FreePOCorDirectOnboarding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>We will run a Direct Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Status_Assignment</targetReference>
            </connector>
            <label>Contraction Confirmation</label>
        </rules>
        <rules>
            <name>POC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Status_Assignment2</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Status_Assignment3</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Incomplete_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Status_Assignment4</targetReference>
            </connector>
            <label>Incomplete Deal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>798</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>InOne_Item_Looper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_InOne_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_InOne_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Gainsight Status Update with InOne Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gainsight Status Update with Opportunity Stage Update</label>
    <loops>
        <name>InOne_Item_Looper</name>
        <label>InOne Item Looper</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <collectionReference>InOneItemsRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_InOne_Record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_InOne_Item</name>
        <label>Get InOne Item</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>InOneItem__c</object>
        <outputReference>InOneItemsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InOne__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_InOne_Record</name>
        <label>Get InOne Record</label>
        <locationX>798</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InOne_Item_Looper.InOne__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InOne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_InOne_Record</name>
        <label>Update InOne Record</label>
        <locationX>666</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>InOne_Item_Looper</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_InOne_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gainsight_Trigger_Status__c</field>
            <value>
                <elementReference>GainsightStatus</elementReference>
            </value>
        </inputAssignments>
        <object>InOne__c</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_InOne_Item</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Sales - New Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deferred Sales - Additional Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell - Additional Domain</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GainsightStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InOneItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InOneItemsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOneItem__c</objectType>
    </variables>
</Flow>
