force-app/main/default/flows/Gainsight_Status_Trigger_from_Adding_Agreement_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>InOne_Item_is_Null</name>
        <label>InOne Item is Null</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InOneItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InOneItem_Looper</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gainsight Status Trigger from Adding Agreement to Opportunity</label>
    <loops>
        <name>InOneItem_Looper</name>
        <label>InOneItem Looper</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>InOneItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_InOne</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_InOne_Items</name>
        <label>Get InOne Items</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InOne_Item_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>InOneItem__c</object>
        <outputReference>InOneItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InOne__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_InOne</name>
        <label>Update InOne</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>InOneItem_Looper</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InOneItem_Looper.InOne__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gainsight_Trigger_Status__c</field>
            <value>
                <stringValue>7. Contract Confirmation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Proposal_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>InOne__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_InOne_Items</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Agreement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Acquisition_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Acquisition</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InOneItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOneItem__c</objectType>
    </variables>
</Flow>
