force-app/main/default/flows/Implementation_Stage_Done_Update_GS_Trigger_Status_as_Retained.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>InOne_Item_ID_Assignment</name>
        <label>InOne Item ID Assignment</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InOneIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InOne_Item_Looper.InOne__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InOne_Item_Looper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InOne_Items_Found</name>
        <label>InOne Items Found?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InOneItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InOne_Item_Looper</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_New_Acq_Opportunity_Inones</name>
        <label>Update New Acq Opportunity Inones</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Acq_Opportunity_Inones</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Acquisition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InOne_Items</targetReference>
            </connector>
            <label>New Acq Opportunity Inones</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Implementation Stage Done - Update GS Trigger Status as Retained {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation Stage Done - Update GS Trigger Status as Retained</label>
    <loops>
        <name>InOne_Item_Looper</name>
        <label>InOne Item Looper</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>InOneItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InOne_Item_ID_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_InOnes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_InOne_Items</name>
        <label>Get InOne Items</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InOne_Items_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>InOneItem__c</object>
        <outputReference>InOneItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>InOne__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_InOnes</name>
        <label>Update InOnes</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>InOneIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gainsight_Trigger_Status__c</field>
            <value>
                <stringValue>9. Retained</stringValue>
            </value>
        </inputAssignments>
        <object>InOne__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_New_Acq_Opportunity_Inones</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Implementation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>11. Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Handover_to_CSM_Completed_CS_Ops__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Implementations__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InOneIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InOneItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOneItem__c</objectType>
    </variables>
</Flow>
