force-app/main/default/flows/InOne_Selection_Creation_Screen_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_to_Text</name>
        <label>Convert to Text</label>
        <locationX>1986</locationX>
        <locationY>458</locationY>
        <actionName>InvTextSplitter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InOne_Looper</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>textValues</name>
            <value>
                <elementReference>InOnes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvTextSplitter</nameSegment>
        <outputParameters>
            <assignToReference>InOneRecords</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Gainsight_Status_Assignment_12_Incomplete_Deal</name>
        <label>Gainsight Status Assignment 12. Incomplete Deal</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12. Incomplete Deal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_InOne_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gainsight_Status_Assignment_6_PoC</name>
        <label>Gainsight Status Assignment 6. PoC</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6. PoC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_InOne_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gainsight_Status_Assignment_7_Contract_Confirmation</name>
        <label>Gainsight Status Assignment 7. Contract Confirmation</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7. Contract Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_InOne_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gainsight_Status_Assignment_8_Onboarding</name>
        <label>Gainsight Status Assignment 8. Onboarding</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8. Onboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_InOne_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gainsight_Status_Assignment_Null</name>
        <label>Gainsight Status Assignment Null</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>GainsightStatus</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_InOne_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InOneItemAssignments</name>
        <label>InOne Item Assignments</label>
        <locationX>2074</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>InOneItemRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InOneItemRecord.InOne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InOne_Looper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InOneItemVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InOneItemVariable</name>
        <label>InOneItemVariable</label>
        <locationX>2074</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>InOneItemRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InOneItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InOne_Looper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Acqusition_Sub_Type_Check</name>
        <label>Acqusition Sub Type Check</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Gainsight_Status_Assignment_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.AcquisitionSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Sales - New Domain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.AcquisitionSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred Sales - Additional Domain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.AcquisitionSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell - Additional Domain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Stage</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_Selection</name>
        <label>Action Selection</label>
        <locationX>1777</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creation_of_New_Gachapon_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_InOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InOne_Creation_Screen</targetReference>
            </connector>
            <label>Creation of New Gachapon Record</label>
        </rules>
        <rules>
            <name>Existing_Ones_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InOnes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_to_Text</targetReference>
            </connector>
            <label>Existing Ones Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Record_Found</name>
        <label>Any Record Found</label>
        <locationX>1304</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Notification_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_InOnes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acqusition_Sub_Type_Check</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Stage</name>
        <label>Opp Stage</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contraction_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.FreePOCorDirectOnboarding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>We will run a Direct Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Status_Assignment_7_Contract_Confirmation</targetReference>
            </connector>
            <label>Contraction Confirmation</label>
        </rules>
        <rules>
            <name>POC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Status_Assignment_6_PoC</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Status_Assignment_8_Onboarding</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Incomplete_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gainsight_Status_Assignment_12_Incomplete_Deal</targetReference>
            </connector>
            <label>Incomplete Deal</label>
        </rules>
    </decisions>
    <description>Screen Flow for Selection/Creation of InOnes</description>
    <dynamicChoiceSets>
        <name>InOneRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GachaponName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>InOne__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>InOneRecordName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Account.Name}&amp;&quot; - &quot;&amp;{!Gachapon_ID}</expression>
    </formulas>
    <formulas>
        <name>RunningUserProfileName</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <interviewLabel>InOne Selection/Creation Screen on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InOne Selection/Creation Screen on Opportunity</label>
    <loops>
        <name>InOne_Looper</name>
        <label>InOne Looper</label>
        <locationX>1986</locationX>
        <locationY>566</locationY>
        <collectionReference>InOneRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InOneItemAssignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_InOne_Item_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_InOne_Item</name>
        <label>Create InOne Item</label>
        <locationX>974</locationX>
        <locationY>1382</locationY>
        <inputAssignments>
            <field>InOne__c</field>
            <value>
                <elementReference>NewInOneID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>InOneItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_InOne_Item_Records</name>
        <label>Create InOne Item Records</label>
        <locationX>1986</locationX>
        <locationY>974</locationY>
        <inputReference>InOneItemRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_InOne_Record</name>
        <label>Create New InOne Record</label>
        <locationX>974</locationX>
        <locationY>1274</locationY>
        <assignRecordIdToReference>NewInOneID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_InOne_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>CustomerName__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GachaponID__c</field>
            <value>
                <elementReference>Gachapon_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GachaponName__c</field>
            <value>
                <elementReference>Gachapon_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gainsight_Trigger_Status__c</field>
            <value>
                <elementReference>GainsightStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InOneRecordName</elementReference>
            </value>
        </inputAssignments>
        <object>InOne__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_InOnes</name>
        <label>Get Existing InOnes</label>
        <locationX>1304</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GachaponID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Gachapon_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InOne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1777</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InOne_ID_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Duplicate_Notification_Screen</name>
        <label>Duplicate Notification Screen</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateNotification</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(228, 5, 5);&quot;&gt;There is a record on the system with the gachapon id you entered, please check the gachapon id.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;You can click the &lt;/em&gt;&lt;a href=&quot;https://insider3--partial.sandbox.lightning.force.com/lightning/r/InOne__c/{!Get_Existing_InOnes.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;link&lt;/em&gt;&lt;/a&gt;&lt;em&gt; to view the existing record.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InOne_Creation_Screen</name>
        <label>InOne Creation Screen</label>
        <locationX>1304</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Existing_InOnes</targetReference>
        </connector>
        <fields>
            <name>Gachapon_Name</name>
            <dataType>String</dataType>
            <fieldText>Gachapon Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Maximum character length for &quot;Gachapon Name&quot; is 80.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Gachapon_Name}) &lt; 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gachapon_ID</name>
            <dataType>String</dataType>
            <fieldText>Gachapon ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InOne_ID_Selection</name>
        <label>InOne ID Selection</label>
        <locationX>1777</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Selection</targetReference>
        </connector>
        <fields>
            <name>InOnes</name>
            <choiceReferences>InOneRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>InOnes</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_New_InOne</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New InOne</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>RunningUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>00e8d000000ZBwl</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RunningUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>00e8d000001rSJF</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1651</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GainsightStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InOneItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOneItem__c</objectType>
    </variables>
    <variables>
        <name>InOneItemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOneItem__c</objectType>
    </variables>
    <variables>
        <name>InOneRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewInOneID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
