force-app/main/default/flows/Lead_Stages_Transition_Auto_fulfillment_creation_of_stage_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Marketing_Qualified_Date_Assignment</name>
        <label>Marketing Qualified Date Assignment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.MarketingQualifiedlead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>New_Date_Assignment</name>
        <label>New Date Assignment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.CreateDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Nurturing_Date</name>
        <label>Nurturing Date</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Nurturing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Qualifying_Date_Assignment</name>
        <label>Qualifying Date Assignment</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.DateQualifying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Sales_Accepted_Leadz</name>
        <label>Sales Accepted Lead</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.DateSalesAcceptedLead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Unqualified_Datex</name>
        <label>Unqualified Date</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Unqualified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Stage_Decision</name>
        <label>Stage Decision</label>
        <locationX>842</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Date_Assignment</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Marketing_Qualified_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Qualified Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_Qualified_Date_Assignment</targetReference>
            </connector>
            <label>Marketing Qualified Lead</label>
        </rules>
        <rules>
            <name>Qualifying_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualifying_Date_Assignment</targetReference>
            </connector>
            <label>Qualifying Date</label>
        </rules>
        <rules>
            <name>Sales_Accepted_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Accepted Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Accepted_Leadz</targetReference>
            </connector>
            <label>Sales Accepted Lead</label>
        </rules>
        <rules>
            <name>Unqualified_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unqualified_Datex</targetReference>
            </connector>
            <label>Unqualified Date</label>
        </rules>
        <rules>
            <name>Nurturing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurturing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nurturing_Date</targetReference>
            </connector>
            <label>Nurturing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Stages Transition Auto fulfillment creation of stage date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Stages Transition Auto fulfillment creation of stage date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4) OR (1 AND 5 ) OR ( 1 AND 6) OR ( 1 AND 7)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualified Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualifying</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Accepted Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
