force-app/main/default/flows/Lead_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Lead_Number_MOD</name>
        <label>Lead Number MOD</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MODLeadNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadNumberMODFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_from_Lead_Assignment_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Count</name>
        <label>User Count</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TotalUserNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>LeadAssignmentRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Number_MOD</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Assignment_Rule_Found</name>
        <label>Lead Assignment Rule Found</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_as_Admin_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadAssignmentRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found_and_Active</name>
        <label>User Found and Active</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_as_Admin_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_from_Lead_Assignment_Rules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_from_Lead_Assignment_Rules.User__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LeadNumberMODFormula</name>
        <dataType>Number</dataType>
        <expression>MOD({!$Record.LeadNumberByTerritory__c},{!TotalUserNumber}) +1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Territory_Users</name>
        <label>Get Territory Users</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Assignment_Rule_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory__c</elementReference>
            </value>
        </filters>
        <object>LeadAssignmentRule__c</object>
        <outputReference>LeadAssignmentRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory__c</queriedFields>
        <queriedFields>UserNumber__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_from_Lead_Assignment_Rules</name>
        <label>Get User from Lead Assignment Rules</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found_and_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MODLeadNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadAssignmentRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>LeadAssignmentDone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_from_Lead_Assignment_Rules.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_as_Admin_User</name>
        <label>Update Owner as Admin User</label>
        <locationX>336</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058d000002zdsZAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Territory_Users</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>LeadNumberByTerritory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CustomLifecycleStage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Accepted Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>CustomLifecycleStage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualified Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadAssignmentDone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadAssignmentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadAssignmentRule__c</objectType>
    </variables>
    <variables>
        <name>MODLeadNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalUserNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
