force-app/main/default/flows/Main_Order_Form_Processes_for_Contr_Churn_React_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Main_Order_Form_Product_Assignment_0</name>
        <label>Main Order Form Product Assignment</label>
        <locationX>402</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQuantityForContractionOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSalesPriceForMainOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTotalPriceForMainOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.HowManyOppProdRelatedWithThisOFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HowManyRelatedOppProRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Order_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Form_Product_ID_Assignment2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Main_Order_Form_Product_Assignment_0_0</name>
        <label>Main Order Form Product Assignment</label>
        <locationX>1590</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.HowManyOppProdRelatedWithThisOFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.OrderForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Form_Product_ID_Assignment2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Assignment_to_OFP_Variable</name>
        <label>Null Assignment to OFP Variable</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Contractions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Assignment_to_OFP_Variable_0</name>
        <label>Null Assignment to OFP Variable</label>
        <locationX>1502</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Reactivations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_ID_Assignment2</name>
        <label>Order Form Product ID Assignment</label>
        <locationX>402</locationX>
        <locationY>1836</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MainOrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Contractions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_ID_Assignment2_0</name>
        <label>Order Form Product ID Assignment</label>
        <locationX>1590</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MainOrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Reactivations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_To_Be_Deleted_Assignment</name>
        <label>Record To Be Deleted Assignment</label>
        <locationX>138</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>ToBeDeletedMainOrderForm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Main_Order_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Contractions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Records_Found</name>
        <label>Any Records Found?</label>
        <locationX>468</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>Opp_Pro_Looper_for_Contractions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quantity_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Records_Found2</name>
        <label>Any Records Found?</label>
        <locationX>1502</locationX>
        <locationY>1812</locationY>
        <defaultConnector>
            <targetReference>Create_New_Main_OFP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllProductsOfMainOF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Main_OFP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Order_Form_Found</name>
        <label>Main Order Form Found?</label>
        <locationX>380</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_with_Order_Forms</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Order_Form_Found2</name>
        <label>Main Order Form Found?</label>
        <locationX>974</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Main_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Order_Form_Found_0</name>
        <label>Main Order Form Found?</label>
        <locationX>1865</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_with_Order_Form_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_with_Order_Forms_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Pro_Records_Found</name>
        <label>Opp Pro Records Found?</label>
        <locationX>182</locationX>
        <locationY>996</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProLineItemsForMainOF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Assignment_to_OFP_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Pro_Records_Found_0</name>
        <label>Opp Pro Records Found?</label>
        <locationX>1656</locationX>
        <locationY>996</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProLineItemsForMainOF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Assignment_to_OFP_Variable_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_0</name>
        <label>Quantity =&lt; 0</label>
        <locationX>270</locationX>
        <locationY>1596</locationY>
        <defaultConnector>
            <targetReference>Main_Order_Form_Product_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewQuantityForContractionOFP</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_To_Be_Deleted_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Change_Type</name>
        <label>Which Change Type</label>
        <locationX>1359</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contraction</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contraction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Transfer - Decrease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Order_Form</targetReference>
            </connector>
            <label>Contraction / Revenue Transfer - Decrease</label>
        </rules>
        <rules>
            <name>Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Order_Form2</targetReference>
            </connector>
            <label>Churn</label>
        </rules>
        <rules>
            <name>Reactivation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactivation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Transfer - Increase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Order_Form_0</targetReference>
            </connector>
            <label>Reactivation / Revenue Transfer - Increase</label>
        </rules>
    </decisions>
    <description>Flow is triggered when an opportunity is updated as Closed Won. (Contraction/Churn/Reactivation Opps)

* Flow tetiklendiği zaman Opportunity üzerindeki bilgilerle Change Type bilgisine bakarak bir adet normal sales order yaratılır.
** Opp Product bilgilerinden kopyalanarak Sales Order&apos; a Product bilgileri kaydedilir. (Order Form Product Objesi)

* Main Order form var mı kontrolü yapılır.
** Main order varsa ilgili main order&apos; ın productları ile opportunity productlar&apos; ı kıyaslanır.

*** Contraction için, 
Eğer Main order üzerinde Opp product bulunursa ilgili product &quot;negatif&quot; yönlü update edilir.
*** Churn için, 
Main order üzerinde bir işlem yapılmaz.
***Reactivation için,
Daha önceden aktif bir ürün olmadığı kabul edildiği için Product bulunduğu zaman Opportunity Product değerleriyle olduğu gibi update edilir.

*** Eğer Main order üzerinde Opp Product bulunamazsa bir aksiyon alınmaz.

** Main Order Form yoksa bir aksiyon alınmaz.


// Main order kontrolü yapılırken Opportunity Currency ile Main Order&apos; ın Currency bilgisi eşleşmelidir.</description>
    <environments>Default</environments>
    <formulas>
        <name>HowManyRelatedOppProRecords</name>
        <dataType>Number</dataType>
        <expression>{!Get_Main_Order_Product.HowManyOppProdRelatedWithThisOFP__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewQuantityForContractionOFP</name>
        <dataType>Number</dataType>
        <expression>{!Get_Main_Order_Product.Quantity__c} - {!Opp_Pro_Looper_for_Contractions.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewSalesPriceForMainOFP</name>
        <dataType>Number</dataType>
        <expression>({!Get_Main_Order_Product.TotalPrice__c} - {!Opp_Pro_Looper_for_Contractions.TotalPrice}) /
({!Get_Main_Order_Product.Quantity__c} - {!Opp_Pro_Looper_for_Contractions.Quantity})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewTotalPriceForMainOFP</name>
        <dataType>Number</dataType>
        <expression>{!Get_Main_Order_Product.TotalPrice__c} - {!Opp_Pro_Looper_for_Contractions.TotalPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StandardOrderFormName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp; &quot; - &quot;&amp;TEXT({!$Record.ChangeType__c})&amp;&quot; - &quot;&amp;&quot;Order Form&quot;</expression>
    </formulas>
    <interviewLabel>Main Order Form Processes for Contr./Churn/React. Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Main Order Form Processes for Contr./Churn/React. Opps</label>
    <loops>
        <name>Opp_Pro_Looper_for_Contractions</name>
        <label>Opp Pro Looper for Contractions</label>
        <locationX>50</locationX>
        <locationY>1236</locationY>
        <collectionReference>OppProLineItemsForMainOF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Main_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Main_Order_Form_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opp_Pro_Looper_for_Reactivations</name>
        <label>Opp Pro Looper for Reactivations</label>
        <locationX>1502</locationX>
        <locationY>1236</locationY>
        <collectionReference>OppProLineItemsForMainOF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Main_Order_Form_Product_Assignment_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Main_Record_s_OFP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Main_OFP</name>
        <label>Create New Main OFP</label>
        <locationX>1502</locationX>
        <locationY>2148</locationY>
        <connector>
            <targetReference>Main_Order_Field_Updates</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Main_Order_Form_Products</name>
        <label>Delete Main Order Form Products</label>
        <locationX>50</locationX>
        <locationY>2364</locationY>
        <connector>
            <targetReference>Update_Main_Order_Fields</targetReference>
        </connector>
        <inputReference>ToBeDeletedMainOrderForm</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Old_Main_OFP</name>
        <label>Delete Old Main OFP</label>
        <locationX>1370</locationX>
        <locationY>1932</locationY>
        <connector>
            <targetReference>Create_New_Main_OFP</targetReference>
        </connector>
        <inputReference>AllProductsOfMainOF</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Main_Order_Form</name>
        <label>Get Main Order Form</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Order_Form_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>AutoCreated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order_Form2</name>
        <label>Get Main Order Form</label>
        <locationX>974</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Order_Form_Found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>AutoCreated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order_Form_0</name>
        <label>Get Main Order Form</label>
        <locationX>1865</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Order_Form_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>AutoCreated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order_Product</name>
        <label>Get Main Order Product</label>
        <locationX>468</locationX>
        <locationY>1356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contractions.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderFormProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Record_s_OFP</name>
        <label>Get Main Record&apos; s OFP</label>
        <locationX>1502</locationX>
        <locationY>1692</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Records_Found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </filters>
        <object>OrderFormProduct__c</object>
        <outputReference>AllProductsOfMainOF</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items_0</name>
        <label>Get Opp Line Items</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Pro_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItemsForMainOF</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items_0_0_0_0</name>
        <label>Get Opp Line Items</label>
        <locationX>1656</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Pro_Records_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItemsForMainOF</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Main_Order</name>
        <label>Update Main Order</label>
        <locationX>842</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order_Form2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderFormStatus__c</field>
            <value>
                <stringValue>Churn / Expired</stringValue>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Order_Form_Products</name>
        <label>Update Main Order Form Products</label>
        <locationX>50</locationX>
        <locationY>2244</locationY>
        <connector>
            <targetReference>Delete_Main_Order_Form_Products</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Order_Form_0</name>
        <label>Update Opp with Order Form</label>
        <locationX>2074</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>OrderForm__c</field>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Order_Forms</name>
        <label>Update Opp with Order Forms</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Update_Sales_Order_with_Main_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>MainOrderForm__c</field>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderForm__c</field>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Order_Forms_0</name>
        <label>Update Opp with Order Forms</label>
        <locationX>1656</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Update_Sales_Order_with_Main_Order2</targetReference>
        </connector>
        <inputAssignments>
            <field>MainOrderForm__c</field>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderForm__c</field>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>842</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>MainOrderForm__c</field>
            <value>
                <elementReference>Get_Main_Order_Form2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Order_with_Main_Order</name>
        <label>Update Sales Order with Main Order</label>
        <locationX>182</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderForm__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MainOrder__c</field>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Order_with_Main_Order2</name>
        <label>Update Sales Order with Main Order</label>
        <locationX>1656</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderForm__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MainOrder__c</field>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <start>
        <locationX>1233</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Change_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContractionChurnReactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>MainOrderForm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContractStartDateEqualsToday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-13</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Main_Order_Field_Updates</name>
        <label>Main Order Field Updates</label>
        <locationX>1502</locationX>
        <locationY>2268</locationY>
        <flowName>Order_and_Main_Order_Field_Updates_Subflow</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderFormId</name>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Main_Order_Fields</name>
        <label>Update Main Order Fields</label>
        <locationX>50</locationX>
        <locationY>2484</locationY>
        <flowName>Order_and_Main_Order_Field_Updates_Subflow</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderFormId</name>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllProductsOfMainOF</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>MainOrderFormProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>NewOrderFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppProLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppProLineItemsForMainOF</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OrderFormProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>OrderFormProductIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>ToBeDeletedMainOrderForm</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
</Flow>
