force-app/main/default/flows/Main_Order_Form_Creation_for_Acquisition_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Existing_Order_Form_Product_Assignment</name>
        <label>Existing Order Form Product Assignment</label>
        <locationX>138</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>ExistingOrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQuantityForExistingOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingOrderFormProduct.HowManyOppProdRelatedWithThisOFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppProNumberForExistingOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingOrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTotalPriceForExistingOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingOrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSalesPriceForExistingOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingOrderFormProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Order_Form_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Product_ID_Assignment_for_Existing_OFP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Assignment_for_Order_Form_Products</name>
        <label>Null Assignment for Order Form Products</label>
        <locationX>578</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Main_OF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Assignment_for_Order_Form_Products_0</name>
        <label>Null Assignment for Order Form Products</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Main_OF2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_Assignment_0_0</name>
        <label>Order Form Product Assignment</label>
        <locationX>666</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.OrderForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMainOrderFormID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.HowManyOppProdRelatedWithThisOFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Limitation_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF.LimitationPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Product_ID_Assignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_Assignment_0_0_0</name>
        <label>Order Form Product Assignment</label>
        <locationX>402</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF2.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF2.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF2.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF2.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.HowManyOppProdRelatedWithThisOFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.OrderForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Limitation_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF2.LimitationPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Product_ID_Assignment_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Product_ID_Assignment_0</name>
        <label>Order Product ID Assignment</label>
        <locationX>666</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MainOrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Main_OF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Product_ID_Assignment_0_0</name>
        <label>Order Product ID Assignment</label>
        <locationX>402</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MainOrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Main_OF2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Product_ID_Assignment_for_Existing_OFP</name>
        <label>Order Product ID Assignment for Existing OFP</label>
        <locationX>138</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>ExistingOrderFormProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExistingOrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Main_OF2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Opp_Products_Found</name>
        <label>Any Opp Products Found?</label>
        <locationX>710</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Order_Field_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Line_Items_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Assignment_for_Order_Form_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Opp_Products_Found_0</name>
        <label>Any Opp Products Found?</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Order_Field_Updates_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Assignment_for_Order_Form_Products_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Record_Found</name>
        <label>Any Record Found</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Create_Main_Order_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opps_with_Order_Forms_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Records_Found</name>
        <label>Any Records Found?</label>
        <locationX>270</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Order_Form_Product_Assignment_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Order_Form_Product_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow is triggered when Service Start Date = TODAY</description>
    <environments>Default</environments>
    <formulas>
        <name>MainOrderFormName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp; &quot; - &quot;&amp;&quot;Main Order Form&quot;</expression>
    </formulas>
    <formulas>
        <name>NewOppProNumberForExistingOFP</name>
        <dataType>Number</dataType>
        <expression>{!Get_Main_Order_Form_Product.HowManyOppProdRelatedWithThisOFP__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewQuantityForExistingOFP</name>
        <dataType>Number</dataType>
        <expression>IF(
    CONTAINS({!Get_Main_Order_Form_Product.Product__r.Name}, &quot;Flex Fee&quot;),
    {!Opp_Pro_Looper_for_Main_OF2.Quantity},
    {!Opp_Pro_Looper_for_Main_OF2.Quantity} + {!Get_Main_Order_Form_Product.Quantity__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewSalesPriceForExistingOFP</name>
        <dataType>Number</dataType>
        <expression>({!Get_Main_Order_Form_Product.TotalPrice__c} + {!Opp_Pro_Looper_for_Main_OF2.TotalPrice}) /
({!Opp_Pro_Looper_for_Main_OF2.Quantity} + {!Get_Main_Order_Form_Product.Quantity__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewTotalPriceForExistingOFP</name>
        <dataType>Number</dataType>
        <expression>({!Get_Main_Order_Form_Product.TotalPrice__c} + {!Opp_Pro_Looper_for_Main_OF2.TotalPrice})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StandardOrderFormName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp; &quot; - &quot;&amp;TEXT({!$Record.Acquisition_Type__c})&amp;&quot; - &quot;&amp;&quot;Order Form&quot;</expression>
    </formulas>
    <interviewLabel>Order Form Creation for Acquisition Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Main Order Form Creation for Acquisition Opps</label>
    <loops>
        <name>Opp_Pro_Looper_for_Main_OF</name>
        <label>Opp Pro Looper for Main OF</label>
        <locationX>578</locationX>
        <locationY>1224</locationY>
        <collectionReference>OppProLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Form_Product_Assignment_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Form_Products_for_Main_OF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opp_Pro_Looper_for_Main_OF2</name>
        <label>Opp Pro Looper for Main OF2</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <collectionReference>OppProLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Main_Order_Form_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Form_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Main_Order_Form</name>
        <label>Create Main Order Form</label>
        <locationX>710</locationX>
        <locationY>468</locationY>
        <assignRecordIdToReference>NewMainOrderFormID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Sales_Order_with_Main_Order2</targetReference>
        </connector>
        <inputAssignments>
            <field>AutoCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MainOrderFormName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormStatus__c</field>
            <value>
                <stringValue>Finance Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormType__c</field>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Form_Products_for_Main_OF</name>
        <label>Create Order Form Products for Main OF</label>
        <locationX>578</locationX>
        <locationY>1632</locationY>
        <connector>
            <targetReference>Order_Field_Updates</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOrderFormProducts</name>
        <label>CreateOrderFormProducts</label>
        <locationX>50</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Order_Field_Updates_2</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Main_Order_Form</name>
        <label>Get Main Order Form</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order_Form_Product</name>
        <label>Get Main Order Form Product</label>
        <locationX>270</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Main_OF2.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderFormProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items_0</name>
        <label>Get Opp Line Items</label>
        <locationX>710</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Opp_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AutoDiscount__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>LimitationPeriod__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items_0_0</name>
        <label>Get Opp Line Items</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Opp_Products_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AutoDiscount__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>LimitationPeriod__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_Main_Order_Form</name>
        <label>Update Account with Main Order Form</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Update_Opps_with_Order_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MainOrderForm__c</field>
            <value>
                <elementReference>NewMainOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps_with_Order_Forms</name>
        <label>Update Opps with Order Forms</label>
        <locationX>710</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items_0</targetReference>
        </connector>
        <inputAssignments>
            <field>MainOrderForm__c</field>
            <value>
                <elementReference>NewMainOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps_with_Order_Forms_0</name>
        <label>Update Opps with Order Forms</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Sales_Order_with_Main_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>MainOrderForm__c</field>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Products</name>
        <label>Update Order Form Products</label>
        <locationX>50</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>CreateOrderFormProducts</targetReference>
        </connector>
        <inputReference>ExistingOrderFormProducts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Order_with_Main_Order</name>
        <label>Update Sales Order with Main Order</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderForm__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MainOrder__c</field>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Order_with_Main_Order2</name>
        <label>Update Sales Order with Main Order</label>
        <locationX>710</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Update_Account_with_Main_Order_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderForm__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MainOrder__c</field>
            <value>
                <elementReference>NewMainOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Main_Order_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acquisition</stringValue>
            </value>
        </filters>
        <filters>
            <field>MainOrderForm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContractStartDateEqualsToday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-13</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Order_Field_Updates</name>
        <label>Order Field Updates</label>
        <locationX>710</locationX>
        <locationY>1824</locationY>
        <flowName>Order_and_Main_Order_Field_Updates_Subflow</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderFormId</name>
            <value>
                <elementReference>NewMainOrderFormID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Order_Field_Updates_2</name>
        <label>Order Field Updates 2</label>
        <locationX>182</locationX>
        <locationY>2016</locationY>
        <flowName>Order_and_Main_Order_Field_Updates_Subflow</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderFormId</name>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ExistingOrderFormProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>ExistingOrderFormProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>MainOrderFormProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>NewMainOrderFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewStandardOrderFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppProLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OrderFormProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>OrderFormProductIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
</Flow>
