force-app/main/default/flows/Main_Order_Update_from_Opp_Closings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Update_contract_start_date_and_end_date</name>
        <label>Update contract start date and end date</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_SLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update contract start date and end date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Dates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SLA</name>
        <label>Update SLA</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Update_Termination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_SLA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Termination</name>
        <label>Update Termination</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Termination</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow is triggered when an opportunity is updated as Closed Won/Approved</description>
    <environments>Default</environments>
    <interviewLabel>Main Order Update from Opp Closings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Main Order Update from Opp Closings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Order_Form_Dates</name>
        <label>Update Order Form Dates</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_SLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.MainOrderForm__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingEndDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.BillingEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStartDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.BillingStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_SLA</name>
        <label>Update Order Form SLA</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Update_Termination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.MainOrderForm__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceMonthsPerInvoice__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Termination</name>
        <label>Update Order Form Termination</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.MainOrderForm__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceMonthsPerInvoice__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_contract_start_date_and_end_date</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Credit Note - Flex</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Credit Note - New Acquisition</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Credit Note - PST</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Acquisition_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CustomerHasMainOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
