force-app/main/default/flows/MindBehind_Implementation_Creation_POC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Territory</name>
        <label>Territory</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Create_Implementation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TURKEY</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Implementation</targetReference>
            </connector>
            <label>TURKEY</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ImplementationName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp;&quot; - &quot;&amp;&quot;Onboarding&quot;</expression>
    </formulas>
    <formulas>
        <name>OnboardingCloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Agreement__r.ContractStartDate__c},3)</expression>
    </formulas>
    <interviewLabel>MindBehind Implementation Creation POC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MindBehind Implementation Creation POC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Implementation</name>
        <label>Create Implementation1</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Stage__c</field>
            <value>
                <stringValue>1. Resource Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImplementationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Close_Date__c</field>
            <value>
                <elementReference>OnboardingCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Start_Date__c</field>
            <value>
                <elementReference>$Record.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Pz000007m8CAIAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products_in_Scope__c</field>
            <value>
                <stringValue>MindBehind</stringValue>
            </value>
        </inputAssignments>
        <object>Implementations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Implementation1</name>
        <label>Create Implementation2</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Stage__c</field>
            <value>
                <stringValue>1. Resource Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImplementationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Close_Date__c</field>
            <value>
                <elementReference>OnboardingCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Start_Date__c</field>
            <value>
                <elementReference>$Record.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Pz000007m6tVIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products_in_Scope__c</field>
            <value>
                <stringValue>MindBehind</stringValue>
            </value>
        </inputAssignments>
        <object>Implementations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>((1 AND 2) OR (1 AND 3) OR (1 AND 4) OR (1 AND 5) OR (1 AND 6) OR (1 AND 7) OR (1 AND 8) OR (1 AND 9) OR (1 AND 10)) AND 11</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Sales - New Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deferred Sales - Additional Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deferred Sales - Additional Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell - Additional Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell - Additional Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell - Edition Upgrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Free Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extra Domain Activation</stringValue>
            </value>
        </filters>
        <filters>
            <field>MindbehindProductAdded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X3min_Later</name>
            <connector>
                <targetReference>Territory</targetReference>
            </connector>
            <label>3min Later</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
