force-app/main/default/flows/NonRecurring_Sales_Order_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Record_Collection_Assignment</name>
        <label>Record Collection Assignment</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OrderProductRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProductRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Detail_Assignment</name>
        <label>Record Detail Assignment</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OrderProductRecord.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.AutoDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.DiscountedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.DiscountedPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.LineDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.OpportunityProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.OrderForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NonRRSalesOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecord.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper.Discount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Opp_Pro_Found</name>
        <label>Any Opp Pro Found?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Pro_Looper</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OrderFormName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Opp_Record.Name},64) &amp; &quot; - &quot; &amp; &quot;Non Recurring&quot;</expression>
    </formulas>
    <formulas>
        <name>ServiceEndDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH({!$Flow.CurrentDate} ) = 12,
  DATE( YEAR( {!$Flow.CurrentDate} ), 12, 31 ),
  DATE( YEAR( {!$Flow.CurrentDate} ), MONTH ( {!$Flow.CurrentDate} ) + 1, 1 ) - 1 
)</expression>
    </formulas>
    <interviewLabel>NonRecurring Sales Order Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NonRecurring Sales Order Creation Flow</label>
    <loops>
        <name>Opp_Pro_Looper</name>
        <label>Opp Pro Looper</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>OppProIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Detail_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Form_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order_Form_Products</name>
        <label>Create Order Form Products</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <inputReference>OrderProductRecordIds</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Order_Record</name>
        <label>Create Sales Order Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>NonRRSalesOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_Pro_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Opp_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>Get_Opp_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderFormName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormStatus__c</field>
            <value>
                <stringValue>Finance Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormType__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>ServiceEndDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>Get_Opp_Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>Get_Opp_Record.Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Pro_Records</name>
        <label>Get Opp Pro Records</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Opp_Pro_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AutoDiscount__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Discount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Record</name>
        <label>Get Opp Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NonRRSalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppProIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OrderProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>OrderProductRecordIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
