force-app/main/default/flows/Opportunity_Stage_Update_Screen_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>Sub Flow of Opportunity Stage Update Screen - For Same Mandatory Fields</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Stage Update Screen Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Update Screen - Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mandatory_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BestNutritionContent__c</field>
            <value>
                <elementReference>BestNutritionContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoWeHaveAMutualActionPlan__c</field>
            <value>
                <elementReference>DoWeHaveAMutualActionPlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowCanWeMakeNextMeetingMindblowing__c</field>
            <value>
                <elementReference>HowCanWeMakeTheNextMeeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStepsandStrategy__c</field>
            <value>
                <elementReference>NextStepsAndStrategy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherNotes__c</field>
            <value>
                <elementReference>OtherNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threatsthatcouldbreakthedeal__c</field>
            <value>
                <elementReference>ThreatsThatCouldBreakTheDeal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatYouWillDoBetterNextTime__c</field>
            <value>
                <elementReference>WhatYouWillDoBetterNextTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Mandatory_Fields</name>
        <label>Mandatory Fields</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <fields>
            <name>DoWeHaveAMutualActionPlan</name>
            <defaultValue>
                <stringValue>{!Get_Opportunity.DoWeHaveAMutualActionPlan__c}</stringValue>
            </defaultValue>
            <fieldText>Do we have a mutual action plan with the prospect?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HowCanWeMakeTheNextMeeting</name>
            <defaultValue>
                <stringValue>{!Get_Opportunity.HowCanWeMakeNextMeetingMindblowing__c}</stringValue>
            </defaultValue>
            <fieldText>How can we make the next meeting mindblowing? How to add a WOW moment? Marketing moves?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ThreatsThatCouldBreakTheDeal</name>
            <defaultValue>
                <stringValue>{!Get_Opportunity.Threatsthatcouldbreakthedeal__c}</stringValue>
            </defaultValue>
            <fieldText>Threats that could break the deal</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NextStepsAndStrategy</name>
            <defaultValue>
                <stringValue>{!Get_Opportunity.NextStepsandStrategy__c}</stringValue>
            </defaultValue>
            <fieldText>Next Steps and Strategy</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatYouWillDoBetterNextTime</name>
            <defaultValue>
                <stringValue>{!Get_Opportunity.WhatYouWillDoBetterNextTime__c}</stringValue>
            </defaultValue>
            <fieldText>What You Will Do Better Next Time?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BestNutritionContent</name>
            <defaultValue>
                <stringValue>{!Get_Opportunity.BestNutritionContent__c}</stringValue>
            </defaultValue>
            <fieldText>Best Nutrition Content</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherNotes</name>
            <defaultValue>
                <stringValue>{!Get_Opportunity.OtherNotes__c}</stringValue>
            </defaultValue>
            <fieldText>Other Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
