force-app/main/default/flows/Opportunity_Product_Creation_from_Main_Order_Product_for_Churn_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Product_Assignment</name>
        <label>Product Assignment</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>OppProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Form_Product_Looper.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityFormulas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalPriceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Form_Product_Looper.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Record_Id_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Assignment_for_Flex_and_Subs</name>
        <label>Product Assignment for Flex and Subs</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>OppProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Form_Product_Looper.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityFormulas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Form_Product_Looper.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesPriceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Record_Id_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Id_Assignment</name>
        <label>Record Id Assignment</label>
        <locationX>270</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OppProdIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Form_Product_Looper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Product_Found</name>
        <label>Any Product Found</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Form_Product_Looper</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Order_Found</name>
        <label>Main Order Found</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Order_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type</name>
        <label>Product Type</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Product_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flex_and_Annual_Short_Code</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Order_Form_Product_Looper.Product__r.FeeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flex Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Assignment_for_Flex_and_Subs</targetReference>
            </connector>
            <label>Flex and Annual Short Code</label>
        </rules>
    </decisions>
    <description>The flow is triggered when a churn opportunity is created.</description>
    <environments>Default</environments>
    <formulas>
        <name>QuantityFormulas</name>
        <dataType>Number</dataType>
        <expression>IF(({!Order_Form_Product_Looper.Quantity__c} &lt; 0.00001), 1 , {!Order_Form_Product_Looper.Quantity__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SalesPriceFormula</name>
        <dataType>Number</dataType>
        <expression>IF(({!Order_Form_Product_Looper.SalesPrice__c} &lt; 0.000001 || ISNULL({!Order_Form_Product_Looper.SalesPrice__c}))  , 1, {!Order_Form_Product_Looper.SalesPrice__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalPriceFormula</name>
        <dataType>Number</dataType>
        <expression>IF(({!Order_Form_Product_Looper.TotalPrice__c} &lt; 0.0000001 || ISNULL({!Order_Form_Product_Looper.TotalPrice__c}))  , 0, {!Order_Form_Product_Looper.TotalPrice__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Product Creation from Main Order Product for Churn Opportunities. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product Creation from Main Order Product for Churn Opportunities.</label>
    <loops>
        <name>Order_Form_Product_Looper</name>
        <label>Order Form Product Looper</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>OrderFormProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Prods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Prods</name>
        <label>Create Opp Prods</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputReference>OppProdIds</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Main_Order</name>
        <label>Get Main Order</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Order_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderFormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order_Products</name>
        <label>Get Main Order Products</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductIsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderFormProduct__c</object>
        <outputReference>OrderFormProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>OrderForm__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>SalesPrice__c</queriedFields>
        <queriedFields>TotalPrice__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Main_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContractionChurnReactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppProdIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OrderFormProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>QuantityFormula</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
