force-app/main/default/flows/OpportunityStageUpdateScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>ApprovedChoice</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedLostChoice</name>
        <choiceText>Closed Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedWonChoice</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>CommercialDiscussionSalesAcceptedOpportunityChoice</name>
        <choiceText>Commercial Discussion / Sales Accepted Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>MeetingDone</name>
        <choiceText>Meeting Done/ Discovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting Done/ Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>POC</name>
        <choiceText>POC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POC</stringValue>
        </value>
    </choices>
    <choices>
        <name>RejectedChoice</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <description>Technical Alignment</description>
        <name>TechnicalAlignmentChoice</name>
        <choiceText>Technical Alignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Alignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>UseCasesDemoChoice</name>
        <choiceText>Use Cases/ Demo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Use Cases/ Demo</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Agreement_Status_Done</name>
        <label>Agreement Status = &apos;Done&apos;</label>
        <locationX>5957</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>AgreementValidationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.Agreement__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_InOnes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agreement_Status_Done2</name>
        <label>Agreement Status = &apos;Done&apos;</label>
        <locationX>7464</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>AgreementValidationScreen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.Agreement__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>System_Admin_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Input_is_True</name>
        <label>Any Input is True</label>
        <locationX>5247</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Agreement_Status_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlexFee1stPartyUserVolume</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlexFee1stPartyUserVolume</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlexFeeEmailVolume</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlexFeeMonthlyUniqueSearchVolume</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlexFeeProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlexFeeTrackedAppUsersAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlexFeeTrackedWebUsers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SmsProducts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EurekaAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpsertAPIAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InsiderWPAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MindbehindAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FlexFeeValidations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Product_Found</name>
        <label>Any Product Found?</label>
        <locationX>4760</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Fee_Type_Validation_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.AcquisitionSubType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal - Flat Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductValidationScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Product_Found2</name>
        <label>Any Product Found?</label>
        <locationX>7189</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Agreement_Status_Done2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductValidationScreen2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_and_Territory_was_Filled</name>
        <label>Country and Territory was Filled?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Country_And_Territory_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.Account.Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Account.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityPrimarySource_and_MarketingInfluenceScore_was_Filled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_21</name>
        <label>POC Request Checking</label>
        <locationX>2822</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Mandatory_Fields_for_POC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_POC_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.POCRequestStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POC Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POCRequestedValidationScreen</targetReference>
            </connector>
            <label>Is POC Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Maker_and_Champion_Added</name>
        <label>Decision Maker and Champion Added?</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ContactValidationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.DecisionMakerAdded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.ChampionAdded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mandatory_Fields_for_Use_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Free_POC_or_Direct_Onboarding2</name>
        <label>Free POC or Direct Onboarding</label>
        <locationX>2624</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Decision_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>We_will_run_Direct_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.FreePOCorDirectOnboarding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>We will run a Direct Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DirectOnboardingValidationScreen</targetReference>
            </connector>
            <label>We will run Direct Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_One_adde_check</name>
        <label>In One added check ?</label>
        <locationX>5462</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>InOneErrorMessage3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_InOnes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Update_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_one_added_checked</name>
        <label>In one added checked ?</label>
        <locationX>4934</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>InOneErrorMessage2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_InOnes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Update_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>InOne_Added</name>
        <label>InOne Added?</label>
        <locationX>3201</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>InOneValidationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_InOnes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MRR_Raise_or</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MRR_Raise_or</name>
        <label>MRR Raise or Renewal</label>
        <locationX>2921</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>MRRRaiseAndRenewalValidationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.Acquisition_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MRR Raise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Acquisition_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Free_POC_or_Direct_Onboarding2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityPrimarySource_and_MarketingInfluenceScore_was_Filled</name>
        <label>OpportunityPrimarySource and MarketingInfluenceScore was Filled?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>OpportunityPrimarySource_and_MarketingInfluenceScore_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.OpportunityPrimarySource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.MarketingInfluenceScore__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mandotory_Fields_for_Meeting_Done</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selection_Technical_Alignment</name>
        <label>Selection = &apos;Technical Alignment&apos;</label>
        <locationX>1568</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Technical_Alignment_or_Commercial_Discussion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>UseCasesDemoStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TechnicalAlignmentChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Acquisition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Acquisition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MRR Raise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TechnicalAlignmentValidationScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>System_Admin_Check</name>
        <label>System Admin Check</label>
        <locationX>7310</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_OppForChurn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Profile_System_Administrator2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SystemAdminValidationScreen2</targetReference>
            </connector>
            <label>User Profile != &apos;System Administrator&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Technical_Alignment_or_Commercial_Discussion</name>
        <label>Technical Alignment or Commercial Discussion</label>
        <locationX>1766</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Mandatory_Fields_for_Tech_Alignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Discussion2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseCasesDemoStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CommercialDiscussionSalesAcceptedOpportunityChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mandatory_Fields_for_Commercial_Discussion2</targetReference>
            </connector>
            <label>Commercial Discussion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type</label>
        <locationX>5525</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Stage_Selection_Screen_for_Contr_Churn_React</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acquisition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.OpportunityRecordType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Selection_Screen</targetReference>
            </connector>
            <label>Acquisition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Stage</name>
        <label>Which Stage</label>
        <locationX>5528</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Discussion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommercialDiscussionStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_one_added_checked</targetReference>
            </connector>
            <label>Commercial Discussion</label>
        </rules>
        <rules>
            <name>POC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POCStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_One_adde_check</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>User_Profile_System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SystemAdminValidationScreen</targetReference>
            </connector>
            <label>User Profile != &apos;System Administrator&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Stage_is_Filled</name>
        <label>Which Stage is Filled</label>
        <locationX>3515</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Backlog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BacklogStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BacklogStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_and_Territory_was_Filled</targetReference>
            </connector>
            <label>Backlog</label>
        </rules>
        <rules>
            <name>Meeting_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeetingDoneStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MeetingDoneStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Maker_and_Champion_Added</targetReference>
            </connector>
            <label>Meeting Done</label>
        </rules>
        <rules>
            <name>Use_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseCasesDemoStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UseCasesDemoStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selection_Technical_Alignment</targetReference>
            </connector>
            <label>Use Cases</label>
        </rules>
        <rules>
            <name>Tech_Alignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mandatory_Fields_for_Commercial_Discussion</targetReference>
            </connector>
            <label>Tech Alignment</label>
        </rules>
        <rules>
            <name>Commercial_Discc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommercialDiscussionStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommercialDiscussionStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommercialDiscussionStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClosedWonChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InOnes</targetReference>
            </connector>
            <label>Commercial Discc</label>
        </rules>
        <rules>
            <name>POC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POCStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>POCStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>POCStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClosedWonChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp2</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Any_of_Them_Closed_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BacklogStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MeetingDoneStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UseCasesDemoStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommercialDiscussionStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>POCStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLostChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp1</targetReference>
            </connector>
            <label>Any of Them Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CommercialDiscussionStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedWonChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>POCStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedWonChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Stage_Selected</name>
        <label>Which Stage Selected?</label>
        <locationX>7535</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_OppForChurn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReviewStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product2</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AssignmentRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CSM_TAM_OXT_POS_Assignment_Request__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosedLostReasonChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ClosedLostReason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosedWonRequestChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ClosedWonRequest__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ForecastCategoryChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Forecast_Categories_del__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreePOCorDirectOnboardingChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FreePOCorDirectOnboarding__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MarketingInfluenceScoreChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MarketingInfluenceScore__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NextPlanActionChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NextstepplanCommercialorTechnicalA__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityPrimarySourceChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OpportunityPrimarySource__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POCType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>POCType__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductActivationRequestChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductActivitationReques__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhichCompetitorsHaveWeLostTheOppChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Which_competitors_have_we_lost_the_oppor__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhichDataDoYouWanttobeUpdatedChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WhichDataDoYouWantToBeUpdated__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>OpportunityStageUpdateScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityStageUpdateScreen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_InOnes</name>
        <label>Get InOnes</label>
        <locationX>5528</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InOneItem__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InOnes</name>
        <label>Get InOnes</label>
        <locationX>3201</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InOne_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InOneItem__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>5525</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>4760</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product2</name>
        <label>Get Product</label>
        <locationX>7189</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Product_Found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_10_of_Update_Opp</name>
        <label>Update Opp</label>
        <locationX>4802</locationX>
        <locationY>1430</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Categories_del__c</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductActivitationReques__c</field>
            <value>
                <elementReference>Product_Activation_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhichDataDoYouWantToBeUpdated__c</field>
            <value>
                <elementReference>Which_Data_Do_You_Want_to_be_Updated</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Opp</name>
        <label>Update Opp</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Opp_Forecast_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChampionAdded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionMakerAdded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DidyoucreatehowmanyWOWmoments__c</field>
            <value>
                <elementReference>HowManyWOWMoments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Categories_del__c</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromTheirPointOfView__c</field>
            <value>
                <elementReference>FromTheirPointOfView</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HaveYouIdentifiedAndMetWEBuyer__c</field>
            <value>
                <elementReference>HaveYouIdentifiedAndMetWithTheEconomicBuyer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MarketingInfluenceScore__c</field>
            <value>
                <elementReference>Marketing_Influence_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextstepplanCommercialorTechnicalA__c</field>
            <value>
                <elementReference>NextPlanAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityPrimarySource__c</field>
            <value>
                <elementReference>OpportunityPrimarySource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasontobuyusWhattheylikedabout__c</field>
            <value>
                <elementReference>ReasonToBuyUs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>MeetingDoneStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatAreTheBusinessUseCases__c</field>
            <value>
                <elementReference>WhatAreTheBusinessUseCases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhattheydidntlikeaboutInsiderProd__c</field>
            <value>
                <elementReference>WhatTheyDidntLikeAboutInsiderProducts</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Opp</name>
        <label>Update Opp</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Opp_Forecast_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Categories_del__c</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowDoesOurTechnologyAlign__c</field>
            <value>
                <elementReference>HowDoesOurTechnologyAlignWithTheir</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsThereAnyTechnicalBlockers__c</field>
            <value>
                <elementReference>IsthereAnyTechnicalBlockers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>UseCasesDemoStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatAreTheHighestPriorityRequired__c</field>
            <value>
                <elementReference>WhatAreTheHighestPriorityRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatIsCustomersCriteriaSelection__c</field>
            <value>
                <elementReference>WhatIsTheCustomersCriteria</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Opp</name>
        <label>Update Opp</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Opp_Forecast_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AreWeStuck__c</field>
            <value>
                <elementReference>AreWeStuck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Categories_del__c</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreePOCorDirectOnboarding__c</field>
            <value>
                <elementReference>Free_POC_or_Direct_Onboarding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HaveSeniorManagementBought__c</field>
            <value>
                <elementReference>HaveSeniorManagementBoughtIntoTheStrategy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>TechnicalAlignmentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatAreTheNextMilestones__c</field>
            <value>
                <elementReference>WhatAreTheNextMilestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatIsYourPlanToCounter__c</field>
            <value>
                <elementReference>WhatIsYourPlanToCounterYourCompetition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhereAreWeStrong__c</field>
            <value>
                <elementReference>WhereAreWeStrongDifferentiators</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoIsOurTopCompetition__c</field>
            <value>
                <elementReference>WhoIsOurTopCompetition</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Opp</name>
        <label>Update Opp</label>
        <locationX>2954</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>POC_Requested_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Categories_del__c</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImportantNotesForCustomerOnboarding__c</field>
            <value>
                <elementReference>Important_Notes_For_Customer_Onboarding_Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POCDurationMonths__c</field>
            <value>
                <elementReference>POC_Duration_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POCRequestStatus__c</field>
            <value>
                <elementReference>POCRequestedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POCScope__c</field>
            <value>
                <elementReference>POC_Scope</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POCSuccessCriteriaObjectivesKPIs__c</field>
            <value>
                <elementReference>POCSuccessCriteriaObjectives</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POCType__c</field>
            <value>
                <elementReference>POC_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POC_End_Date__c</field>
            <value>
                <elementReference>POC_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POC_Start_Date__c</field>
            <value>
                <elementReference>POC_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductActivitationReques__c</field>
            <value>
                <elementReference>Product_Activation_Request</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_Update_Opp</name>
        <label>Update Opp</label>
        <locationX>5330</locationX>
        <locationY>1430</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosedWonRequest__c</field>
            <value>
                <elementReference>Closed_Won_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Categories_del__c</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhichDataDoYouWantToBeUpdated__c</field>
            <value>
                <elementReference>Which_Data_Do_You_Want_to_be_Updated</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_9_of_Update_Opp</name>
        <label>Update Opp</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Opp_Forecast_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AreWeStuck__c</field>
            <value>
                <elementReference>AreWeStuck2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Categories_del__c</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreePOCorDirectOnboarding__c</field>
            <value>
                <elementReference>Free_POC_or_Direct_Onboarding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HaveSeniorManagementBought__c</field>
            <value>
                <elementReference>HaveSeniorManagementBoughtIntoTheStrategy2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>UseCasesDemoStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatAreTheNextMilestones__c</field>
            <value>
                <elementReference>WhatAreTheNextMilestones2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatIsYourPlanToCounter__c</field>
            <value>
                <elementReference>WhatIsYourPlanToCounterYourCompetition2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhereAreWeStrong__c</field>
            <value>
                <elementReference>WhereAreWeStrongDifferentiators2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoIsOurTopCompetition__c</field>
            <value>
                <elementReference>WhoIsOurTopCompetition2</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Same_Mandatory_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chitchattopicsthatworkedwell__c</field>
            <value>
                <elementReference>ChitChatTopicsThatWorkedWell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesTheProspectWorkWithTheCompetit__c</field>
            <value>
                <elementReference>DoesTheProspectWorkWithTheCompetitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowDoesTheirDecisionMakingProcess__c</field>
            <value>
                <elementReference>HowDoesTheirDecisionMakingProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowImportantIsToSolveTheseProblems__c</field>
            <value>
                <elementReference>HowImportantIsToSolveTheseProblems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>BacklogStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toolstheyusecompetitorsany3rdpar__c</field>
            <value>
                <elementReference>ToolsTheyUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatdoesyourChampionORtheEBcare_a__c</field>
            <value>
                <elementReference>WhatDoesYourChampion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsTheAnticipatedTimeline__c</field>
            <value>
                <elementReference>WhatsTheAnticipatedTimeline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyAreTheyBuying__c</field>
            <value>
                <elementReference>WhyAreTheyBuying</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp1</name>
        <label>Update Opp</label>
        <locationX>4010</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Opp_Forecast_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClosedLostReasonDetails__c</field>
            <value>
                <elementReference>Closed_Lost_Reason_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosedLostReason__c</field>
            <value>
                <elementReference>ClosedLostReason.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MainCategoryOfPrimaryReason__c</field>
            <value>
                <elementReference>ClosedLostReason.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_competitors_have_we_lost_the_oppor__c</field>
            <value>
                <elementReference>Which_competitors_have_we_lost_the_opp</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp2</name>
        <label>Update Opp</label>
        <locationX>3746</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Opp_Forecast_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosedWonRequest__c</field>
            <value>
                <elementReference>Closed_Won_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Categories_del__c</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>POCStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhichDataDoYouWantToBeUpdated__c</field>
            <value>
                <elementReference>Which_Data_Do_You_Want_to_be_Updated</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Forecast_Category</name>
        <label>Update Opp Forecast Category</label>
        <locationX>3515</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Same_Mandatory_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <elementReference>ForecastCategory</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OppForChurn</name>
        <label>Update Opp</label>
        <locationX>7535</locationX>
        <locationY>1550</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>AgreementValidationScreen</name>
        <label>AgreementValidationScreen</label>
        <locationX>6386</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AgreementErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Opportunity must be associated with an agreement at the &quot;Done&quot; stage.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AgreementValidationScreen2</name>
        <label>AgreementValidationScreen</label>
        <locationX>7618</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AgreementErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Opportunity must be associated with an agreement at the &quot;Done&quot; stage.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContactValidationScreen</name>
        <label>ContactValidationScreen</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactValidationTextMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Champion and Decision Maker must be added to update the stage. (from the contact roles section on the right side of the page)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Country_And_Territory_Validation</name>
        <label>Country And Territory Validation</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CountryAndTerritoryErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Territory and Country informations are required. Please check the opportunity account&apos;s territory and country informations.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DirectOnboardingValidationScreen</name>
        <label>DirectOnboardingValidationScreen</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DirectOnboardingErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Cannot update &lt;u&gt;direct onboarding opportunities&lt;/u&gt; as &quot;POC&quot; stage. &lt;/em&gt;&lt;em style=&quot;color: rgb(199, 0, 0); font-size: 10px;&quot;&gt;Please check the &quot;Free POC or Direct Onboarding&quot; field.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlexFeeValidations</name>
        <label>FlexFeeValidations</label>
        <locationX>4538</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TrackedWebUserErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Flex Fee] Tracked Web Users must be added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlexFeeTrackedWebUsers</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmailVolumeErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Flex Fee] Email Volume must be added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlexFeeEmailVolume</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonthlyUniqueSearchErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Flex Fee] - Monthly Unique Search Volume must be added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlexFeeMonthlyUniqueSearchVolume</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>X1stPartyUserVolumeErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Flex Fee] - 1st Party User Volume must be added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlexFee1stPartyUserVolume</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TrackedAppUsersErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Flex Fee] Tracked App Users must be added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlexFeeTrackedAppUsersAssignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlexFeeErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Flex Fee must be added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlexFeeProduct</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SMSErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;SMS Flex Fee must be added. (Territory)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SmsProducts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonthlyUniqueSearchVolumeErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: Arial;&quot;&gt;[Flex Fee] - Monthly Unique Search Volume must be added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EurekaAssignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>X1stPartyUserErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;[Flex Fee] - 1st Party User Volume&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UpsertAPIAssignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WPErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;[Flex Fee] - WhatsApp Marketing Conversations must be added. (Territory)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InsiderWPAssignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MindbehindErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: Arial;&quot;&gt;[Flex Fee] - Mindbehind Whatsapp must be added. (Territory)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MindbehindAssignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InOneErrorMessage2</name>
        <label>InOneErrorMessage</label>
        <locationX>5066</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormesaj</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(211, 37, 37);&quot;&gt;Opportunity must be associated with at least one Inones record before the &apos;&apos;Closed Won&apos;&apos; status&lt;/em&gt;&lt;span style=&quot;color: rgb(166, 88, 23);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InOneErrorMessage3</name>
        <label>InOneErrorMessage</label>
        <locationX>5594</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_errormesaj</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(211, 37, 37);&quot;&gt;Opportunity must be associated with at least one Inones record before the &apos;&apos;Closed Won&apos;&apos; status&lt;/em&gt;&lt;span style=&quot;color: rgb(166, 88, 23);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InOneValidationScreen</name>
        <label>InOneValidationScreen</label>
        <locationX>3482</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InOneErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Opportunity must be associated with at least one InOnes record before the &quot;POC&quot; stage.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mandatory_Fields_for_Commercial_Discussion</name>
        <label>Mandatory Fields for Commercial Discussion</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Update_Opp</targetReference>
        </connector>
        <fields>
            <name>WhoIsOurTopCompetition</name>
            <fieldText>Who is our top competition in this opportunity?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhereAreWeStrongDifferentiators</name>
            <fieldText>Where are we strong (Differentiators) and where are we weak relative to the competition as perceived by the customer?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatIsYourPlanToCounterYourCompetition</name>
            <fieldText>What is your plan to counter your competition&apos;s sales strategy?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HaveSeniorManagementBoughtIntoTheStrategy</name>
            <fieldText>Have senior management bought into the strategy and have we engaged / presented to them?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatAreTheNextMilestones</name>
            <fieldText>What are the next milestones (micro goals) to achieve next? How can we make the next step EASY for them?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AreWeStuck</name>
            <fieldText>Are we stuck? If stuck, track your way back and go back to the roots where we started. Can we move via an agency?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mandatory_Fields_for_Commercial_Discussion2</name>
        <label>Mandatory Fields for Commercial Discussion2</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_9_of_Update_Opp</targetReference>
        </connector>
        <fields>
            <name>WhoIsOurTopCompetition2</name>
            <fieldText>Who is our top competition in this opportunity?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhereAreWeStrongDifferentiators2</name>
            <fieldText>Where are we strong (Differentiators) and where are we weak relative to the competition as perceived by the customer?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatIsYourPlanToCounterYourCompetition2</name>
            <fieldText>What is your plan to counter your competition&apos;s sales strategy?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HaveSeniorManagementBoughtIntoTheStrategy2</name>
            <fieldText>Have senior management bought into the strategy and have we engaged / presented to them?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatAreTheNextMilestones2</name>
            <fieldText>What are the next milestones (micro goals) to achieve next? How can we make the next step EASY for them?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AreWeStuck2</name>
            <fieldText>Are we stuck? If stuck, track your way back and go back to the roots where we started. Can we move via an agency?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mandatory_Fields_for_POC</name>
        <label>Mandatory Fields for POC</label>
        <locationX>2954</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Update_Opp</targetReference>
        </connector>
        <fields>
            <name>POC_Type</name>
            <choiceReferences>POCType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>POC Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>POC_Duration_Months</name>
            <dataType>Number</dataType>
            <fieldText>POC Duration (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>POC_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Planned POC Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>POC_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Planned POC End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>POC_Scope</name>
            <fieldText>POC Scope</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>POCSuccessCriteriaObjectives</name>
            <fieldText>POC Success Criteria</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Important_Notes_For_Customer_Onboarding_Team</name>
            <fieldText>Important Notes For Customer Onboarding Team</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mandatory_Fields_for_Tech_Alignment</name>
        <label>Mandatory Fields for Tech Alignment</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Update_Opp</targetReference>
        </connector>
        <fields>
            <name>WhatIsTheCustomersCriteria</name>
            <fieldText>What is the customer&apos;s criteria for selection? What is the Business Decision Criteria (BDC)? What is the Technical Decision Criteria (TDC)?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatAreTheHighestPriorityRequired</name>
            <fieldText>What are the highest priority Required Capabilities? How will these criteria be weighted during the decision process? What other criteria have they told us about?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HowDoesOurTechnologyAlignWithTheir</name>
            <fieldText>How does our technology align with their business and technical wish list?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IsthereAnyTechnicalBlockers</name>
            <fieldText>Is there any technical blockers we need to resolve ASAP? How we can solve it? What is the action plan?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mandatory_Fields_for_Use_Case</name>
        <label>Mandatory Fields for Use Case</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_Opp</targetReference>
        </connector>
        <fields>
            <name>Meeting_Plan_and_Presentation</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Meeting Plan and Presentation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HaveYouIdentifiedAndMetWithTheEconomicBuyer</name>
            <fieldText>Have you identified and met with the Economic Buyer? How do you know theyre actually the Economic Buyer versus someone higher?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatAreTheBusinessUseCases</name>
            <fieldText>What are the business use-cases? Is your champion leveraging such use-cases and respective metrics?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReasonToBuyUs</name>
            <fieldText>Reason to buy us? What they liked about products?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HowManyWOWMoments</name>
            <fieldText>How Many WOW Moments Did You Create During Meeting?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatTheyDidntLikeAboutInsiderProducts</name>
            <fieldText>What they didn&apos;t like about Insider Products?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FromTheirPointOfView</name>
            <fieldText>From their point of view, how are they looking at the milestones?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mandotory_Fields_for_Meeting_Done</name>
        <label>Mandotory Fields for Meeting Done</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <fields>
            <name>ChitChatTopicsThatWorkedWell</name>
            <fieldText>Chit chat topics that worked well</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatDoesYourChampion</name>
            <fieldText>What does your Champion OR the EB care about most?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HowDoesTheirDecisionMakingProcess</name>
            <fieldText>How does their decision making process look like? Who else will be involved?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhyAreTheyBuying</name>
            <fieldText>Why are they buying? What are the problems that the prospect is most challenged with?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HowImportantIsToSolveTheseProblems</name>
            <fieldText>How important is to solve these problems to his/her personal/department goals?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatsTheAnticipatedTimeline</name>
            <fieldText>Whats the anticipated timeline? Are there any events/deadlines to get it done asap? Any major marketing season? any seasonal targets to hit?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ToolsTheyUse</name>
            <fieldText>Tools they use (competitors, any 3rd party tech)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DoesTheProspectWorkWithTheCompetitor</name>
            <fieldText>Does the prospect work with the competitor? Where they struggle the most?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MRRRaiseAndRenewalValidationScreen</name>
        <label>MRRRaiseAndRenewalValidationScreen</label>
        <locationX>3218</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RaiseAndRenewalErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;&quot;MRR Raise&quot; and &quot;Renewal&quot; opportunities cannot be updated as &quot;POC&quot;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpportunityPrimarySource_and_MarketingInfluenceScore_Validation</name>
        <label>OpportunityPrimarySource and MarketingInfluenceScore Validation</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpportunityPrimarySourceAndMarketingInfluenceScoreErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Opportunity Primary Score and Marketing Influence Score fields can not be passed empty.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>POC_Requested_Notification</name>
        <label>POC Requested Notification</label>
        <locationX>2954</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotificationBody</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You have sent a request for POC.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;After your request is approved, the stage will be changed to POC. If your request is rejected, please refer to the POC Approval section to find the reason for the rejection. You can update the necessary information and try again.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>POCRequestedValidationScreen</name>
        <label>POCRequestedValidationScreen</label>
        <locationX>2690</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DirectOnboardingErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Cannot update to &quot;POC&quot; stage. &lt;/em&gt;&lt;em style=&quot;color: rgb(199, 0, 0); font-size: 10px;&quot;&gt;Please wait for approval for POC request.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductValidationScreen</name>
        <label>ProductValidationScreen</label>
        <locationX>4274</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProductValidationText</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Opportunity can not be updated as &quot;Closed Won&quot; without adding a product to the opportunity.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductValidationScreen2</name>
        <label>ProductValidationScreen</label>
        <locationX>6914</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProductValidationText2</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Opportunity can not be updated as &quot;Approved&quot; without adding a product to the opportunity.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_Selection_Screen</name>
        <label>Stage Selection Screen</label>
        <locationX>3515</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Stage_is_Filled</targetReference>
        </connector>
        <fields>
            <name>CurrentStageInformation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The current Opportunity Stage is: &lt;/strong&gt;{!Get_Opp.StageName}&lt;em style=&quot;font-size: 10px;&quot;&gt; You can choose one of the following stages.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BacklogStage</name>
            <choiceReferences>MeetingDone</choiceReferences>
            <choiceReferences>ClosedLostChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selectable Stages</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opp.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Backlog</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MeetingDoneStage</name>
            <choiceReferences>UseCasesDemoChoice</choiceReferences>
            <choiceReferences>ClosedLostChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selectable Stages</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opp.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Meeting Done/ Discovery</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UseCasesDemoStage</name>
            <choiceReferences>TechnicalAlignmentChoice</choiceReferences>
            <choiceReferences>CommercialDiscussionSalesAcceptedOpportunityChoice</choiceReferences>
            <choiceReferences>ClosedLostChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selectable Stages</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opp.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Use Cases/ Demo</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TechnicalAlignmentStage</name>
            <choiceReferences>CommercialDiscussionSalesAcceptedOpportunityChoice</choiceReferences>
            <choiceReferences>ClosedLostChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selectable Stages</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opp.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technical Alignment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CommercialDiscussionStage</name>
            <choiceReferences>POC</choiceReferences>
            <choiceReferences>ClosedWonChoice</choiceReferences>
            <choiceReferences>ClosedLostChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selectable Stages</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opp.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>POCStage</name>
            <choiceReferences>ClosedWonChoice</choiceReferences>
            <choiceReferences>ClosedLostChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selectable Stages</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opp.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>POC</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MandatoryFields</name>
            <fieldText>Mandatory  Fields</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MandatoryFields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CountryInformation</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Country: {!Get_Opp.Account.Country__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BacklogStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MeetingDone</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ForecastCategory</name>
                    <choiceReferences>ForecastCategoryChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.ForecastCategory</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>UseCasesDemoStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Technical Alignment</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>UseCasesDemoStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CommercialDiscussionSalesAcceptedOpportunityChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CommercialDiscussionSalesAcceptedOpportunityChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>POC</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWonChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>POCStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWonChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MeetingDoneStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>UseCasesDemoChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NextPlanAction</name>
                    <choiceReferences>NextPlanActionChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.NextstepplanCommercialorTechnicalA__c</elementReference>
                    </defaultValue>
                    <fieldText>Next Plan Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MeetingDoneStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>UseCasesDemoChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Marketing_Influence_Score</name>
                    <choiceReferences>MarketingInfluenceScoreChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.MarketingInfluenceScore__c</elementReference>
                    </defaultValue>
                    <fieldText>Marketing Influence Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MeetingDoneStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>UseCasesDemoChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Product_Activation_Request</name>
                    <choiceReferences>ProductActivationRequestChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.ProductActivitationReques__c</elementReference>
                    </defaultValue>
                    <fieldText>Product Activation Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>POC</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Closed_Won_Request</name>
                    <choiceReferences>ClosedWonRequestChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.ClosedWonRequest__c</elementReference>
                    </defaultValue>
                    <fieldText>Closed Won Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>POCStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWonChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWonChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ClosedLostReason</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>ClosedLostReason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>MainCategoryOfPrimaryReason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Main Category of Closed Lost Reason</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Closed Lost Reason</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>BacklogStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MeetingDoneStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>POCStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>UseCasesDemoStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MandatoryFields_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TerritoryInformation</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Territory: {!Get_Opp.Account.Territory__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BacklogStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MeetingDone</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CloseDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.CloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>MeetingDoneStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>UseCasesDemoChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>UseCasesDemoStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>TechnicalAlignmentChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>UseCasesDemoStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CommercialDiscussionSalesAcceptedOpportunityChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CommercialDiscussionSalesAcceptedOpportunityChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>POC</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWonChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>POCStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWonChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OpportunityPrimarySource</name>
                    <choiceReferences>OpportunityPrimarySourceChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.OpportunityPrimarySource__c</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Primary Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MeetingDoneStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>UseCasesDemoChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Which_Data_Do_You_Want_to_be_Updated</name>
                    <choiceReferences>WhichDataDoYouWanttobeUpdatedChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</elementReference>
                    </defaultValue>
                    <fieldText>Which Data Do You Want to be Updated?</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>POCStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWonChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWonChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Closed_Lost_Reason_Details</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.ClosedLostReasonDetails__c</elementReference>
                    </defaultValue>
                    <fieldText>Closed Lost Reason Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>BacklogStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MeetingDoneStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>UseCasesDemoStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>POCStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Which_competitors_have_we_lost_the_opp</name>
                    <choiceReferences>WhichCompetitorsHaveWeLostTheOppChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opp.Which_competitors_have_we_lost_the_oppor__c</elementReference>
                    </defaultValue>
                    <fieldText>Which competitors have we lost the opp ?</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>BacklogStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MeetingDoneStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>UseCasesDemoStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CommercialDiscussionStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>POCStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedLostChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Free_POC_or_Direct_Onboarding</name>
                    <choiceReferences>FreePOCorDirectOnboardingChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Free POC or Direct Onboarding</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CommercialDiscussionSalesAcceptedOpportunityChoice</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>UseCasesDemoStage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CommercialDiscussionSalesAcceptedOpportunityChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>BacklogStage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MeetingDoneStage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UseCasesDemoStage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TechnicalAlignmentStage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CommercialDiscussionStage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>POCStage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_Selection_Screen_for_Contr_Churn_React</name>
        <label>Stage Selection Screen for Contr./Churn/React</label>
        <locationX>7535</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Stage_Selected</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_CurrentStageInformation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The current Opportunity Stage is: &lt;/strong&gt;{!Get_Opp.StageName}&lt;em style=&quot;font-size: 10px;&quot;&gt; You can choose one of the following stages.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewStage</name>
            <choiceReferences>ApprovedChoice</choiceReferences>
            <choiceReferences>RejectedChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selectable Stages</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SystemAdminValidationScreen</name>
        <label>SystemAdminValidationScreen</label>
        <locationX>5858</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SystemAdminValidationTextMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Only &quot;system administrators&quot; can update opportunity records as &quot;Closed Won&quot;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SystemAdminValidationScreen2</name>
        <label>SystemAdminValidationScreen</label>
        <locationX>7178</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_SystemAdminValidationTextMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;Only &quot;system administrators&quot; can update opportunity records as &quot;Approved&quot;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TechnicalAlignmentValidationScreen</name>
        <label>TechnicalAlignmentValidationScreen</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechAlignmentErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(199, 0, 0);&quot;&gt;&quot;MRR Raise&quot; and &quot;Renewal&quot; opportunities cannot be updated as &quot;Technical Alignment&quot;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>5399</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fee_Type_Validation_Flow</name>
        <label>Fee Type Validation Flow</label>
        <locationX>5247</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Any_Input_is_True</targetReference>
        </connector>
        <flowName>FeeTypeValidationFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>EurekaAssignment</assignToReference>
            <name>EurekaAssignment</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlexFee1stPartyUserVolume</assignToReference>
            <name>FlexFee1stPartyUserVolume</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlexFeeEmailVolume</assignToReference>
            <name>FlexFeeEmailVolume</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlexFeeMonthlyUniqueSearchVolume</assignToReference>
            <name>FlexFeeMonthlyUniqueSearchVolume</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlexFeeProduct</assignToReference>
            <name>FlexFeeProduct</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlexFeeTrackedAppUsersAssignment</assignToReference>
            <name>FlexFeeTrackedAppUsersAssignment</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlexFeeTrackedWebUsers</assignToReference>
            <name>FlexFeeTrackedWebUsers</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InsiderWPAssignment</assignToReference>
            <name>InsiderWPAssignment</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MindbehindAssignment</assignToReference>
            <name>MindbehindAssignment</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SmsProducts</assignToReference>
            <name>SMSAssignmentBoolean</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UpsertAPIAssignment</assignToReference>
            <name>UpsertAPIAssignment</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Same_Mandatory_Fields</name>
        <label>Same Mandatory Fields</label>
        <locationX>3515</locationX>
        <locationY>2258</locationY>
        <flowName>Opportunity_Stage_Update_Screen_Sub_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EurekaAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlexFee1stPartyUserVolume</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlexFeeEmailVolume</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlexFeeMonthlyUniqueSearchVolume</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlexFeeProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlexFeeTrackedAppUsersAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlexFeeTrackedWebUsers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsiderWPAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MindbehindAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POCRequestedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>POC Requested</stringValue>
        </value>
    </variables>
    <variables>
        <name>POCRequestedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>POC Requested</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsProducts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpsertAPIAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
