force-app/main/default/flows/Opportunity_Acquisition_Stage_Creation_Dates_Fulfilling_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Acq_Type</name>
        <label>Acq Type</label>
        <locationX>1524</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewAcq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acquisition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InOne_Item</targetReference>
            </connector>
            <label>NewAcq</label>
        </rules>
    </decisions>
    <decisions>
        <name>Acq_Type2</name>
        <label>Acq Type</label>
        <locationX>2404</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewAcq2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acquisition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InOne_Item2</targetReference>
            </connector>
            <label>NewAcq</label>
        </rules>
    </decisions>
    <decisions>
        <name>Acq_Type3</name>
        <label>Acq Type</label>
        <locationX>3284</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewAcq3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acquisition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InOneItem3</targetReference>
            </connector>
            <label>NewAcq</label>
        </rules>
    </decisions>
    <decisions>
        <name>InOne_is_Null</name>
        <label>InOne is Null</label>
        <locationX>1326</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InOneItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InOneItem_Looper</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>InOne_is_Null2</name>
        <label>InOne is Null</label>
        <locationX>2206</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InOneItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InOneItem_Looper2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>InOne_is_Null3</name>
        <label>InOne is Null</label>
        <locationX>3086</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InOneItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InOneItem_Looper3</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Decision</name>
        <label>Stage Decision</label>
        <locationX>2030</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Backlog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backlog</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Backlog_Update</targetReference>
            </connector>
            <label>Backlog</label>
        </rules>
        <rules>
            <name>Commercial_Review_Sales_Acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Done/ Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_Done_Update</targetReference>
            </connector>
            <label>Meeting Done / Discovery</label>
        </rules>
        <rules>
            <name>Use_Cases_Demo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Use Cases/ Demo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Case_Demo_Update</targetReference>
            </connector>
            <label>Use Cases / Demo</label>
        </rules>
        <rules>
            <name>Technical_Alignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Alignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technical_Update</targetReference>
            </connector>
            <label>Technical Alignment</label>
        </rules>
        <rules>
            <name>Commercial_Discussion_Sales_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commercial_Update</targetReference>
            </connector>
            <label>Commercial Discussion / Sales Accepted</label>
        </rules>
        <rules>
            <name>POC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POC_Update2</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Won_Update</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lost_Update</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Acquisition Stage Creation Dates Fulfilling Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Acquisition Stage Creation Dates Fulfilling Automation</label>
    <loops>
        <name>InOneItem_Looper</name>
        <label>InOneItem Looper</label>
        <locationX>1194</locationX>
        <locationY>935</locationY>
        <collectionReference>InOneItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_InOne_with_Proposal_Date</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>InOneItem_Looper2</name>
        <label>InOneItem Looper</label>
        <locationX>2074</locationX>
        <locationY>935</locationY>
        <collectionReference>InOneItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_InOne_with_POC_Date</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>InOneItem_Looper3</name>
        <label>InOneItem Looper</label>
        <locationX>2954</locationX>
        <locationY>935</locationY>
        <collectionReference>InOneItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_InOne_with_Won_Date</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_InOne_Item</name>
        <label>Get InOne Item</label>
        <locationX>1326</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InOne_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>InOneItem__c</object>
        <outputReference>InOneItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InOne__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_InOne_Item2</name>
        <label>Get InOne Item</label>
        <locationX>2206</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InOne_is_Null2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>InOneItem__c</object>
        <outputReference>InOneItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InOne__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_InOneItem3</name>
        <label>Get InOne Item</label>
        <locationX>3086</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InOne_is_Null3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>InOneItem__c</object>
        <outputReference>InOneItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InOne__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Backlog_Update</name>
        <label>Backlog Update</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>BacklogStartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Commercial_Update</name>
        <label>Commercial Update</label>
        <locationX>1524</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Acq_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>ProposalDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lost_Update</name>
        <label>Lost Update</label>
        <locationX>3746</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Closed_Lost_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Meeting_Done_Update</name>
        <label>Meeting Done Update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Meeting_Done_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>POC_Update2</name>
        <label>POC Update</label>
        <locationX>2404</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Acq_Type2</targetReference>
        </connector>
        <inputAssignments>
            <field>POC_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Technical_Update</name>
        <label>Technical Update</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>TechnicalAlignmentStartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InOne_with_POC_Date</name>
        <label>Update InOne with POC Date</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>InOneItem_Looper2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InOneItem_Looper2.InOne__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_POC_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>InOne__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InOne_with_Proposal_Date</name>
        <label>Update InOne with Proposal Date</label>
        <locationX>1282</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>InOneItem_Looper</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InOneItem_Looper.InOne__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Proposal_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>InOne__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InOne_with_Won_Date</name>
        <label>Update InOne with Won Date</label>
        <locationX>3042</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>InOneItem_Looper3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InOneItem_Looper3.InOne__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Won_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>InOne__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Use_Case_Demo_Update</name>
        <label>Use Case Demo Update</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>UseCasesDemoDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Won_Update</name>
        <label>Won Update</label>
        <locationX>3284</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Acq_Type3</targetReference>
        </connector>
        <inputAssignments>
            <field>Closed_Won_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 ) OR ( 1 AND 2 AND 4) OR  (1 AND 2 AND 5) OR (1 AND 2 AND 6) OR (1 AND 2 AND 7) OR ( 1 AND 2 AND 8) OR (1 AND 2 AND 9) OR (1 AND 2 AND 10)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000tLEiAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting Done/ Discovery</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Use Cases/ Demo</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Alignment</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InOneItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOneItem__c</objectType>
    </variables>
</Flow>
