force-app/main/default/flows/Opportunity_New_Opportunity_Creation_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Calling_deal_registration_apex_action</name>
        <label>Calling deal registration apex action</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <actionName>DealRegistrationFromPortal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exception_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ClosedDate</name>
            <value>
                <elementReference>Community_CloseDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cureUserAccId</name>
            <value>
                <elementReference>currentUserAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CurrentUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>Customer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OpportunityName</name>
            <value>
                <elementReference>Community_OpportunityName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partnerAccountOwner</name>
            <value>
                <elementReference>PartnerAccount.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Territory</name>
            <value>
                <elementReference>Territory_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserId</name>
            <value>
                <elementReference>get_Approver_Id.userId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DealRegistrationFromPortal</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>get_Approver_Id</name>
        <label>get Approver Id</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <actionName>DealPartnerShipTeamListClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calling_deal_registration_apex_action</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Exception_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>newList</name>
            <value>
                <elementReference>Territory_Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DealPartnerShipTeamListClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>AcquisitionChoice</name>
        <choiceText>Acquisition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0128d000000tLEiAAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>BacklogChoice</name>
        <choiceText>Backlog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Backlog</stringValue>
        </value>
    </choices>
    <choices>
        <name>CommercialDiscussionSalesAcceptedOpportunityChoice</name>
        <choiceText>Commercial Discussion / Sales Accepted Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Discussion / Sales Accepted Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <description>Contraction / Churn / Reactivation</description>
        <name>ContractionChurnReactivationChoice</name>
        <choiceText>Contraction / Churn / Reactivation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0128d000000tLEjAAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>MeetingDoneDiscoveryChoice</name>
        <choiceText>Meeting Done/ Discovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting Done/ Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReviewChoice</name>
        <choiceText>Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>TechnicalAlignmentChoice</name>
        <choiceText>Technical Alignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Alignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>UseCasesDemoChoice</name>
        <choiceText>Use Cases/ Demo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Use Cases/ Demo</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Checking_profile</name>
        <label>Checking profile</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>get_current_user_accountid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Community User</defaultConnectorLabel>
        <rules>
            <name>Not_community_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityCreationScreen</targetReference>
            </connector>
            <label>Not community user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Decision</name>
        <label>Stage Decision</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>FinishScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acquisition_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecordTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcquisitionChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityFieldsScreen</targetReference>
            </connector>
            <label>Acquisition Record Type</label>
        </rules>
        <rules>
            <name>Churn_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecordTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContractionChurnReactivationChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChurnRecordCreation</targetReference>
            </connector>
            <label>Churn / Expired</label>
        </rules>
    </decisions>
    <description>New Opportunity Creation - Screen Flow</description>
    <dynamicChoiceSets>
        <name>Acqsubtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AcquisitionSubType__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>acquisitiontype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Acquisition_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ChangeType__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Changetypepicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ChangeType__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChurnCurrencyChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CommunityTerritory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Territory_cus__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencyChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MainCategoryofPrimaryReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MainCategoryOfPrimaryReason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReactivationAction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reactivation_Action__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReactivationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reactivation_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TerritoryChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Territory__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>GetCustomer</name>
        <dataType>String</dataType>
        <expression>{!$label.label_for_portal_customer}</expression>
    </formulas>
    <interviewLabel>Opportunity - New Opportunity Creation Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Opportunity - New Opportunity Creation Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Churn_Opportunity</name>
        <label>Create Churn Opportunity</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>NewOpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ChurnAccountId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChangeType__c</field>
            <value>
                <elementReference>Changetypepicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>churnclosedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>ChurnCurrencyChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MainCategoryOfPrimaryReason__c</field>
            <value>
                <elementReference>MainCategoryOfPrimaryReason1.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ChurnOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason__c</field>
            <value>
                <elementReference>MainCategoryOfPrimaryReason1.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ContractionChurnReactivationChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>ChurnStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>NewOpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcquisitionSubType__c</field>
            <value>
                <elementReference>Acqsubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acquisition_Type__c</field>
            <value>
                <elementReference>acquisitiontype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>OpportunityCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AcquisitionChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>get_current_user_accountid</name>
        <label>get current user accountid</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>currentUserAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Account</name>
        <label>Get Partner Account</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Community_Opportunity_Fields_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PartnerAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <screens>
        <name>ChurnRecordCreation</name>
        <label>Churn Record Creation</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Churn_Opportunity</targetReference>
        </connector>
        <fields>
            <name>ChurnRecordCreation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ChurnRecordCreation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ChurnRecordCreation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CreateOppDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create New Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ChurnAccountId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ChurnOpportunityName</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ChurnStage</name>
                    <choiceReferences>ReviewChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ReviewChoice</defaultSelectedChoiceReference>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Change_Type</name>
                    <choiceReferences>Changetypepicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Churn</stringValue>
                    </defaultValue>
                    <fieldText>Change Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MainCategoryOfPrimaryReason1</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>MainCategoryOfPrimaryReason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Primary_Reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Main Category Of Primary Reason</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Primary Reason</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>churnclosedate</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ChurnCurrency</name>
                    <choiceReferences>ChurnCurrencyChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ChurnRecordCreation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Community_Opportunity_Fields_Screen</name>
        <label>Community Opportunity Fields Screen</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Approver_Id</targetReference>
        </connector>
        <fields>
            <name>Community_Opportunity_Fields_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Community_Opportunity_Fields_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Community_Opportunity_Fields_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Community_CreateOppDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create New Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Community_CloseDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Customer</name>
                    <dataType>String</dataType>
                    <fieldText>Customer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Community_OpportunityName</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Territory_Name</name>
                    <choiceReferences>CommunityTerritory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Territory Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Community_Opportunity_Fields_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Finish_Screen</name>
        <label>Copy 1 of Finish Screen</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_GoToRecordDetail</name>
            <extensionName>c:GoToRecordDetailPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>Calling_deal_registration_apex_action.opportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>usercontactid</name>
                <value>
                    <elementReference>$User.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exception_Screen</name>
        <label>Exception Screen</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinishScreen</name>
        <label>Finish Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoToRecordDetail</name>
            <extensionName>c:GoToRecordDetailPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>NewOpportunityID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>usercontactid</name>
                <value>
                    <elementReference>$User.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpportunityCreationScreen</name>
        <label>Opportunity Creation Screen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Decision</targetReference>
        </connector>
        <fields>
            <name>OpportunityCreationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OpportunityCreationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityRecordTypes</name>
                    <choiceReferences>AcquisitionChoice</choiceReferences>
                    <choiceReferences>ContractionChurnReactivationChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Record Types</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OpportunityCreationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OpportunityCreationScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpportunityFieldsScreen</name>
        <label>Opportunity Fields Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>OpportunityFieldsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OpportunityFieldsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OpportunityFieldsScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateOppDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create New Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AccountId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OpportunityName</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Stage</name>
                    <choiceReferences>BacklogChoice</choiceReferences>
                    <choiceReferences>MeetingDoneDiscoveryChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>BacklogChoice</defaultSelectedChoiceReference>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CloseDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AcquisitionTypee</name>
                    <choiceReferences>acquisitiontype</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Acquisition Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Acquisition_Sub</name>
                    <choiceReferences>Acqsubtype</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Acquisition Sub-Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OpportunityCurrency</name>
                    <choiceReferences>CurrencyChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OpportunityFieldsScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApexOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Community_AcquisitionChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0123H000000CsNBQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>CommunityOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Churn_Opportunity</elementReference>
        </value>
    </variables>
    <variables>
        <name>PartnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RelatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
