force-app/main/default/flows/Order_Form_Creation_for_Contr_Churn_React_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Main_Order_Form_Product_Assignment_0</name>
        <label>Main Order Form Product Assignment</label>
        <locationX>534</locationX>
        <locationY>3059</locationY>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQuantityForContractionOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSalesPriceForMainOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTotalPriceForMainOFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.HowManyOppProdRelatedWithThisOFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HowManyRelatedOppProRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Order_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Limitation_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contractions.LimitationPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Form_Product_ID_Assignment2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Main_Order_Form_Product_Assignment_0_0</name>
        <label>Main Order Form Product Assignment</label>
        <locationX>2030</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.HowManyOppProdRelatedWithThisOFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.OrderForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainOrderFormProduct.Limitation_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivations.LimitationPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Form_Product_ID_Assignment2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Assignment_to_OFP_Variable</name>
        <label>Null Assignment to OFP Variable</label>
        <locationX>182</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Contractions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Assignment_to_OFP_Variable_0</name>
        <label>Null Assignment to OFP Variable</label>
        <locationX>1942</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Reactivations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_Assignment</name>
        <label>Order Form Product Assignment</label>
        <locationX>671</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProduct.AutoDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.AutoDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.LineDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.OpportunityProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.OrderForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.DiscountedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.DiscountedPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Limitation_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contraction.LimitationPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Form_Product_ID_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_Assignment_0</name>
        <label>Order Form Product Assignment</label>
        <locationX>1414</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProduct.AutoDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.AutoDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.LineDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.OpportunityProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.OrderForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.DiscountedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.DiscountedPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Limitation_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Churn.LimitationPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Form_Product_ID_Assignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_Assignment_0_0</name>
        <label>Order Form Product Assignment</label>
        <locationX>2431</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProduct.AutoDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.AutoDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.LineDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.OpportunityProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.OrderForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.SalesPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.DiscountedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.DiscountedPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderFormProduct.Limitation_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Reactivation.LimitationPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Form_Product_ID_Assignment_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_ID_Assignment</name>
        <label>Order Form Product ID Assignment</label>
        <locationX>671</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Contraction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_ID_Assignment2</name>
        <label>Order Form Product ID Assignment</label>
        <locationX>534</locationX>
        <locationY>3167</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MainOrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Contractions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_ID_Assignment2_0</name>
        <label>Order Form Product ID Assignment</label>
        <locationX>2030</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MainOrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Reactivations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_ID_Assignment_0</name>
        <label>Order Form Product ID Assignment</label>
        <locationX>1414</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Churn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Form_Product_ID_Assignment_0_0</name>
        <label>Order Form Product ID Assignment</label>
        <locationX>2431</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>OrderFormProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Reactivation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_To_Be_Deleted_Assignment</name>
        <label>Record To Be Deleted Assignment</label>
        <locationX>270</locationX>
        <locationY>3059</locationY>
        <assignmentItems>
            <assignToReference>ToBeDeletedMainOrderForm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Main_Order_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeletedNumberOfProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Pro_Looper_for_Contractions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Op_Assignment</name>
        <label>Sales Op Assignment</label>
        <locationX>1702</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SalesOp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Ops_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Change_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Op_Null_Assignment</name>
        <label>Sales Op Null Assignment</label>
        <locationX>1966</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SalesOp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Which_Change_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_product_will_be_deleted</name>
        <label>Any product will be deleted</label>
        <locationX>182</locationX>
        <locationY>3635</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Contraction_Order_Field_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeletedNumberOfProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Main_Order_Form_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Record_Found</name>
        <label>Any Record Found</label>
        <locationX>1326</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Churn_Order_Field_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form_for_Churn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Main_Order2</targetReference>
            </connector>
            <label>Yees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Records_Found</name>
        <label>Any Records Found?</label>
        <locationX>600</locationX>
        <locationY>2843</locationY>
        <defaultConnector>
            <targetReference>Opp_Pro_Looper_for_Contractions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quantity_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Records_Found2</name>
        <label>Any Records Found?</label>
        <locationX>1942</locationX>
        <locationY>3035</locationY>
        <defaultConnector>
            <targetReference>Create_New_Main_OFP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllProductsOfMainOF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReactivationForTheProducts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Main_OFP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Start_Date_Today</name>
        <label>Contract Start Date &lt;= Today</label>
        <locationX>2475</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agreement__r.ContractStartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Order_Form_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contraction_Date_Today</name>
        <label>Contraction Date &lt;= Today</label>
        <locationX>715</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agreement__r.ContractStartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Order_Form</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Order_Form_Found</name>
        <label>Main Order Form Found?</label>
        <locationX>501</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_with_Order_Form_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_with_Order_Forms</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Order_Form_Found_0</name>
        <label>Main Order Form Found?</label>
        <locationX>2261</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_with_Order_Form_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order_Form_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_with_Order_Forms_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Pro_Found</name>
        <label>Opp Pro Found?</label>
        <locationX>715</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Contraction_Order_Field_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Pro_Looper_for_Contraction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Pro_Found_0</name>
        <label>Opp Pro Found?</label>
        <locationX>1480</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Churn_Order_Field_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Pro_Looper_for_Churn</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Pro_Found_0_0</name>
        <label>Opp Pro Found?</label>
        <locationX>2475</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Contract_Start_Date_Today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Pro_Looper_for_Reactivation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Pro_Records_Found</name>
        <label>Opp Pro Records Found?</label>
        <locationX>336</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Contraction_Order_Field_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProLineItemsForMainOF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Assignment_to_OFP_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Pro_Records_Found_0</name>
        <label>Opp Pro Records Found?</label>
        <locationX>2096</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Main_Order_Field_Updates2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProLineItemsForMainOF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Assignment_to_OFP_Variable_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_0</name>
        <label>Quantity =&lt; 0</label>
        <locationX>402</locationX>
        <locationY>2951</locationY>
        <defaultConnector>
            <targetReference>Main_Order_Form_Product_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewQuantityForContractionOFP</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_To_Be_Deleted_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Ops_IsInactive</name>
        <label>Sales Ops IsInactive</label>
        <locationX>1834</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Sales_Op_Null_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Ops_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Op_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Change_Type</name>
        <label>Which Change Type</label>
        <locationX>1834</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contraction</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contraction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Transfer - Decrease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contraction_Order_Form</targetReference>
            </connector>
            <label>Contraction / Revenue Transfer - Decrease</label>
        </rules>
        <rules>
            <name>Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Churn_Order_Form</targetReference>
            </connector>
            <label>Churn</label>
        </rules>
        <rules>
            <name>Reactivation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactivation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Transfer - Increase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reactivation_Order_Form</targetReference>
            </connector>
            <label>Reactivation / Revenue Transfer - Increase</label>
        </rules>
    </decisions>
    <description>Flow is triggered when an opportunity is updated as Closed Won. (Contraction/Churn/Reactivation Opps)

* Flow tetiklendiği zaman Opportunity üzerindeki bilgilerle Change Type bilgisine bakarak bir adet normal sales order yaratılır.
** Opp Product bilgilerinden kopyalanarak Sales Order&apos; a Product bilgileri kaydedilir. (Order Form Product Objesi)

* Main Order form var mı kontrolü yapılır.
** Main order varsa ilgili main order&apos; ın productları ile opportunity productlar&apos; ı kıyaslanır.

*** Contraction için, 
Eğer Main order üzerinde Opp product bulunursa ilgili product &quot;negatif&quot; yönlü update edilir.
*** Churn için, 
Main order üzerinde bir işlem yapılmaz.
***Reactivation için,
Daha önceden aktif bir ürün olmadığı kabul edildiği için Product bulunduğu zaman Opportunity Product değerleriyle olduğu gibi update edilir.

*** Eğer Main order üzerinde Opp Product bulunamazsa bir aksiyon alınmaz.

** Main Order Form yoksa bir aksiyon alınmaz.


// Main order kontrolü yapılırken Opportunity Currency ile Main Order&apos; ın Currency bilgisi eşleşmelidir.</description>
    <environments>Default</environments>
    <formulas>
        <name>HowManyRelatedOppProRecords</name>
        <dataType>Number</dataType>
        <expression>{!Get_Main_Order_Product.HowManyOppProdRelatedWithThisOFP__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewQuantityForContractionOFP</name>
        <dataType>Number</dataType>
        <expression>{!Get_Main_Order_Product.Quantity__c} - {!Opp_Pro_Looper_for_Contractions.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewSalesPriceForMainOFP</name>
        <dataType>Number</dataType>
        <expression>({!Get_Main_Order_Product.TotalPrice__c} - {!Opp_Pro_Looper_for_Contractions.TotalPrice}) /
({!Get_Main_Order_Product.Quantity__c} - {!Opp_Pro_Looper_for_Contractions.Quantity})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewTotalPriceForMainOFP</name>
        <dataType>Number</dataType>
        <expression>{!Get_Main_Order_Product.TotalPrice__c} - {!Opp_Pro_Looper_for_Contractions.TotalPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Owner.IsActive} = FALSE , &apos;0058d000002zdsZAAQ&apos;,  {!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>StandardOrderFormName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp; &quot; - &quot;&amp;TEXT({!$Record.ChangeType__c})&amp;&quot; - &quot;&amp;&quot;Order Form&quot;</expression>
    </formulas>
    <interviewLabel>Order Form Creations for {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Form Creation for Contr./Churn/React. Opps</label>
    <loops>
        <name>Opp_Pro_Looper_for_Churn</name>
        <label>Opp Pro Looper for Churn</label>
        <locationX>1326</locationX>
        <locationY>1163</locationY>
        <collectionReference>OppProLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Form_Product_Assignment_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Form_Products_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opp_Pro_Looper_for_Contraction</name>
        <label>Opp Pro Looper for Contraction</label>
        <locationX>583</locationX>
        <locationY>1055</locationY>
        <collectionReference>OppProLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Form_Product_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Form_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opp_Pro_Looper_for_Contractions</name>
        <label>Opp Pro Looper for Contractions</label>
        <locationX>182</locationX>
        <locationY>2627</locationY>
        <collectionReference>OppProLineItemsForMainOF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Main_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Main_Order_Form_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opp_Pro_Looper_for_Reactivation</name>
        <label>Opp Pro Looper for Reactivation</label>
        <locationX>2343</locationX>
        <locationY>1055</locationY>
        <collectionReference>OppProLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Form_Product_Assignment_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Form_Products_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opp_Pro_Looper_for_Reactivations</name>
        <label>Opp Pro Looper for Reactivations</label>
        <locationX>1942</locationX>
        <locationY>2519</locationY>
        <collectionReference>OppProLineItemsForMainOF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Main_Order_Form_Product_Assignment_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Main_Record_s_OFP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Churn_Order_Form</name>
        <label>Create Churn Order Form</label>
        <locationX>1480</locationX>
        <locationY>731</locationY>
        <assignRecordIdToReference>NewOrderFormID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opp_with_Order_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>AutoCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingEndDate__c</field>
            <value>
                <elementReference>$Record.Last_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStartDate__c</field>
            <value>
                <elementReference>$Record.First_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>StandardOrderFormName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormStatus__c</field>
            <value>
                <stringValue>Finance Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormType__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOpsOwner__c</field>
            <value>
                <elementReference>SalesOp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>$Record.Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contraction_Order_Form</name>
        <label>Create Contraction Order Form</label>
        <locationX>715</locationX>
        <locationY>731</locationY>
        <assignRecordIdToReference>NewOrderFormID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AdditionalInformation__c</field>
            <value>
                <elementReference>$Record.Agreement__r.AdditionalInformation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>$Record.Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCycle__c</field>
            <value>
                <elementReference>$Record.Agreement__r.BillingCycle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingEndDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.BillingEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStartDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.BillingStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicePaymentType__c</field>
            <value>
                <elementReference>$Record.Agreement__r.InvoicePaymentType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>StandardOrderFormName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormStatus__c</field>
            <value>
                <stringValue>Finance Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormType__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOpsOwner__c</field>
            <value>
                <elementReference>SalesOp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.ContractEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>$Record.Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Main_OFP</name>
        <label>Create New Main OFP</label>
        <locationX>1942</locationX>
        <locationY>3335</locationY>
        <connector>
            <targetReference>Update_Main_Order</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Form_Products</name>
        <label>Create Order Form Products</label>
        <locationX>583</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Contraction_Order_Field_Updates</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Form_Products_0</name>
        <label>Create Order Form Products</label>
        <locationX>1326</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_Main_Order_Form_for_Churn</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Form_Products_0_0</name>
        <label>Create Order Form Products</label>
        <locationX>2343</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Contract_Start_Date_Today</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Reactivation_Order_Form</name>
        <label>Create Reactivation Order Form</label>
        <locationX>2475</locationX>
        <locationY>731</locationY>
        <assignRecordIdToReference>NewOrderFormID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_Line_Items_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>$Record.Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCycle__c</field>
            <value>
                <elementReference>$Record.Agreement__r.BillingCycle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingEndDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.BillingEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStartDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.BillingStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicePaymentType__c</field>
            <value>
                <elementReference>$Record.Agreement__r.InvoicePaymentType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>StandardOrderFormName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormStatus__c</field>
            <value>
                <stringValue>Finance Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderFormType__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PONumber__c</field>
            <value>
                <elementReference>$Record.Agreement__r.PONumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOpsOwner__c</field>
            <value>
                <elementReference>SalesOp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.ContractEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>$Record.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>$Record.Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Main_Order_Form_Products</name>
        <label>Delete Main Order Form Products</label>
        <locationX>50</locationX>
        <locationY>3743</locationY>
        <connector>
            <targetReference>Copy_1_of_Contraction_Order_Field_Updates</targetReference>
        </connector>
        <inputReference>ToBeDeletedMainOrderForm</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Old_Main_OFP</name>
        <label>Delete Old Main OFP</label>
        <locationX>1810</locationX>
        <locationY>3143</locationY>
        <connector>
            <targetReference>Create_New_Main_OFP</targetReference>
        </connector>
        <inputReference>AllProductsOfMainOF</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Main_Order_Form</name>
        <label>Get Main Order Form</label>
        <locationX>501</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Order_Form_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order_Form_0</name>
        <label>Get Main Order Form</label>
        <locationX>2261</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Order_Form_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order_Form_for_Churn</name>
        <label>Get Main Order Form for Churn</label>
        <locationX>1326</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000tLElAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order_Product</name>
        <label>Get Main Order Product</label>
        <locationX>600</locationX>
        <locationY>2735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Pro_Looper_for_Contractions.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderFormProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Record_s_OFP</name>
        <label>Get Main Record&apos; s OFP</label>
        <locationX>1942</locationX>
        <locationY>2927</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Records_Found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </filters>
        <object>OrderFormProduct__c</object>
        <outputReference>AllProductsOfMainOF</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items</name>
        <label>Get Opp Line Items</label>
        <locationX>715</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Pro_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>AutoDiscount__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LimitationPeriod__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items_0</name>
        <label>Get Opp Line Items</label>
        <locationX>336</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Pro_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItemsForMainOF</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>LimitationPeriod__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items_0_0</name>
        <label>Get Opp Line Items</label>
        <locationX>1480</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Pro_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>AutoDiscount__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LimitationPeriod__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items_0_0_0</name>
        <label>Get Opp Line Items</label>
        <locationX>2475</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Pro_Found_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>AutoDiscount__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LimitationPeriod__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items_0_0_0_0</name>
        <label>Get Opp Line Items</label>
        <locationX>2096</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Pro_Records_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProLineItemsForMainOF</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>LimitationPeriod__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Main_Order</name>
        <label>Update Main Order</label>
        <locationX>1942</locationX>
        <locationY>3443</locationY>
        <connector>
            <targetReference>Main_Order_Field_Updates2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderFormStatus__c</field>
            <value>
                <stringValue>Finance Review</stringValue>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Order2</name>
        <label>Update Main Order</label>
        <locationX>1194</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Churn_Order_Field_Updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order_Form_for_Churn.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderFormStatus__c</field>
            <value>
                <stringValue>Churn / Expired</stringValue>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Order_Form_Products</name>
        <label>Update Main Order Form Products</label>
        <locationX>182</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Any_product_will_be_deleted</targetReference>
        </connector>
        <inputReference>OrderFormProductIDs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Order_Form</name>
        <label>Update Opp with Order Form</label>
        <locationX>1480</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderForm__c</field>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Order_Form_0</name>
        <label>Update Opp with Order Form</label>
        <locationX>2426</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>OrderForm__c</field>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Order_Form_0_0</name>
        <label>Update Opp with Order Form</label>
        <locationX>666</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>OrderForm__c</field>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Order_Forms</name>
        <label>Update Opp with Order Forms</label>
        <locationX>336</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Order_Form_with_Main_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>MainOrderForm__c</field>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderForm__c</field>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Order_Forms_0</name>
        <label>Update Opp with Order Forms</label>
        <locationX>2096</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Update_Order_Form_with_Main_Order2</targetReference>
        </connector>
        <inputAssignments>
            <field>MainOrderForm__c</field>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderForm__c</field>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_with_Main_Order</name>
        <label>Update Order Form with Main Order</label>
        <locationX>336</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MainOrder__c</field>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_with_Main_Order2</name>
        <label>Update Order Form with Main Order</label>
        <locationX>2096</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MainOrder__c</field>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <start>
        <locationX>1708</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Ops_IsInactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContractionChurnReactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Churn_Order_Field_Updates</name>
        <label>Churn Order Field Updates</label>
        <locationX>1480</locationX>
        <locationY>2171</locationY>
        <flowName>Order_and_Main_Order_Field_Updates_Subflow</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderFormId</name>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contraction_Order_Field_Updates</name>
        <label>Contraction Order Field Updates</label>
        <locationX>715</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Contraction_Date_Today</targetReference>
        </connector>
        <flowName>Order_and_Main_Order_Field_Updates_Subflow</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderFormId</name>
            <value>
                <elementReference>NewOrderFormID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Contraction_Order_Field_Updates</name>
        <label>Main Order Field Updates</label>
        <locationX>336</locationX>
        <locationY>4019</locationY>
        <flowName>Order_and_Main_Order_Field_Updates_Subflow</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderFormId</name>
            <value>
                <elementReference>Get_Main_Order_Form.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Main_Order_Field_Updates2</name>
        <label>Main Order Field Updates2</label>
        <locationX>2096</locationX>
        <locationY>3635</locationY>
        <flowName>Order_and_Main_Order_Field_Updates_Subflow</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderFormId</name>
            <value>
                <elementReference>Get_Main_Order_Form_0.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllProductsOfMainOF</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>DeletedNumberOfProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MainOrderFormProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>NewOrderFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppProLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppProLineItemsForMainOF</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OrderFormProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>OrderFormProductIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
    <variables>
        <name>SalesOp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ToBeDeletedMainOrderForm</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderFormProduct__c</objectType>
    </variables>
</Flow>
