force-app/main/default/flows/Order_and_Main_Order_Field_Updates_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Which_Data_will_ve_Updated</name>
        <label>Copy 1 of Which Data will ve Updated</label>
        <locationX>3086</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_SLA_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_SLA_Info_5</targetReference>
            </connector>
            <label>Update SLA 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Which_Data_will_ve_Updated</name>
        <label>Copy 2 of Which Data will ve Updated</label>
        <locationX>3614</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_contract_start_date_and_end_date_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update contract start date and end date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Service_Dates_5</targetReference>
            </connector>
            <label>Update contract start date and end date 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Data_will_ve_Updated</name>
        <label>Which Data will ve Updated</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_ALL</targetReference>
            </connector>
            <label>All</label>
        </rules>
        <rules>
            <name>Update_contract_start_date_and_end_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update contract start date and end date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Service_Dates</targetReference>
            </connector>
            <label>Update contract start date and end date</label>
        </rules>
        <rules>
            <name>Update_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_SLA_Info</targetReference>
            </connector>
            <label>Update SLA</label>
        </rules>
        <rules>
            <name>Update_Termination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Termination_Info</targetReference>
            </connector>
            <label>Update Termination</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Data_will_ve_Updated2</name>
        <label>Which Data will ve Updated</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_SLA_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_SLA_Info_2</targetReference>
            </connector>
            <label>Update SLA 2</label>
        </rules>
        <rules>
            <name>Update_Termination_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Termination_Info_3</targetReference>
            </connector>
            <label>Update Termination 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Data_will_ve_Updated3</name>
        <label>Which Data will ve Updated</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Termination_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Termination_Info_2</targetReference>
            </connector>
            <label>Update Termination 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Data_will_ve_Updated4</name>
        <label>Which Data will ve Updated</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_SLA_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_SLA_Info_3</targetReference>
            </connector>
            <label>Update SLA 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Data_will_ve_Updated5</name>
        <label>Which Data will ve Updated</label>
        <locationX>2228</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_contract_start_date_and_end_date_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update contract start date and end date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Service_Dates_2</targetReference>
            </connector>
            <label>Update contract start date and end date 2</label>
        </rules>
        <rules>
            <name>Update_Termination_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Termination_Info_4</targetReference>
            </connector>
            <label>Update Termination 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Data_will_ve_Updated6</name>
        <label>Which Data will ve Updated</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Termination_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Termination_Info_5</targetReference>
            </connector>
            <label>Update Termination 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Data_will_ve_Updated7</name>
        <label>Which Data will ve Updated</label>
        <locationX>2294</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_contract_start_date_and_end_date_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update contract start date and end date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Service_Dates_3</targetReference>
            </connector>
            <label>Update contract start date and end date 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Data_will_ve_Updated8</name>
        <label>Which Data will ve Updated</label>
        <locationX>3548</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_contract_start_date_and_end_date_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update contract start date and end date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_Service_Dates_4</targetReference>
            </connector>
            <label>Update contract start date and end date 4</label>
        </rules>
        <rules>
            <name>Update_SLA_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.WhichDataDoYouWantToBeUpdated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Form_SLA_Info_4</targetReference>
            </connector>
            <label>Update SLA 4</label>
        </rules>
    </decisions>
    <description>The flow is triggered 1 minute later when an order form record is created/updated.</description>
    <environments>Default</environments>
    <interviewLabel>Order and Main Order Field Updates //Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order and Main Order Field Updates //Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Data_will_ve_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Form</name>
        <label>Get Order Form</label>
        <locationX>2162</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Form_ALL</name>
        <label>Update Order Form ALL</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Includes_SLA__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.AgreementIncludesSLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoRenewal__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.AutoRenewalClause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCycle__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.BillingCycle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingEndDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.BillingEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStartDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.BillingStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicePaymentType__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.InvoicePaymentType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mindbehind_Service_Package__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.MindBehind_Service_Package__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoticePeriodofTermination__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.NoticePeriodofTermination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PONumber__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.PONumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SeparatedInvoiceDomainLevel__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.SeparatedInvoiceMultiDomain_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Right__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.TerminationRight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Service_Dates</name>
        <label>Update Order Form Service Dates</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Which_Data_will_ve_Updated2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Service_Dates_2</name>
        <label>Update Order Form Service Dates 2</label>
        <locationX>1766</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Which_Data_will_ve_Updated6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Service_Dates_3</name>
        <label>Update Order Form Service Dates 3</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Service_Dates_4</name>
        <label>Update Order Form Service Dates 4</label>
        <locationX>3086</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_1_of_Which_Data_will_ve_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Service_Dates_5</name>
        <label>Update Order Form Service Dates 5</label>
        <locationX>3482</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_SLA_Info</name>
        <label>Update Order Form SLA Info</label>
        <locationX>2228</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Which_Data_will_ve_Updated5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Includes_SLA__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.AgreementIncludesSLA__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_SLA_Info_2</name>
        <label>Update Order Form SLA Info 2</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Which_Data_will_ve_Updated3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Includes_SLA__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.AgreementIncludesSLA__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_SLA_Info_3</name>
        <label>Update Order Form SLA Info 3</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Includes_SLA__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.AgreementIncludesSLA__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_SLA_Info_4</name>
        <label>Update Order Form SLA Info 4</label>
        <locationX>3614</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_2_of_Which_Data_will_ve_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Includes_SLA__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.AgreementIncludesSLA__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_SLA_Info_5</name>
        <label>Update Order Form SLA Info 5</label>
        <locationX>2954</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Includes_SLA__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.AgreementIncludesSLA__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Termination_Info</name>
        <label>Update Order Form Termination Info</label>
        <locationX>3548</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Which_Data_will_ve_Updated8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NoticePeriodofTermination__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.NoticePeriodofTermination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Right__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.TerminationRight__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Termination_Info_2</name>
        <label>Update Order Form Termination Info 2</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NoticePeriodofTermination__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.NoticePeriodofTermination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Right__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.TerminationRight__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Termination_Info_3</name>
        <label>Update Order Form Termination Info 3</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Which_Data_will_ve_Updated4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NoticePeriodofTermination__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.NoticePeriodofTermination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Right__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.TerminationRight__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Termination_Info_4</name>
        <label>Update Order Form Termination Info 4</label>
        <locationX>2294</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Which_Data_will_ve_Updated7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NoticePeriodofTermination__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.NoticePeriodofTermination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Right__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.TerminationRight__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Form_Termination_Info_5</name>
        <label>Update Order Form Termination Info 5</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NoticePeriodofTermination__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.NoticePeriodofTermination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Right__c</field>
            <value>
                <elementReference>Get_Opp.Agreement__r.TerminationRight__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderForm__c</object>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
