force-app/main/default/flows/POC_Impletementation_Creation_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Territory</name>
        <label>Territory</label>
        <locationX>506</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LATAM_US</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Cone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Implementation</targetReference>
            </connector>
            <label>LATAM-US</label>
        </rules>
        <rules>
            <name>UKEUTRMENA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benelux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CEE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MENA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Russia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Implementation</targetReference>
            </connector>
            <label>UKEUTRMENA</label>
        </rules>
        <rules>
            <name>APACAU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vietnam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Implementation</targetReference>
            </connector>
            <label>APACAU</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ImplementationName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp;&quot; - &quot;&amp;&quot;Onboarding&quot;</expression>
    </formulas>
    <formulas>
        <name>ImplementationPOCDate</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp;&quot; - &quot;&amp;&quot;POC&quot;</expression>
    </formulas>
    <formulas>
        <name>POCEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.POC_End_Date__c}+45</expression>
    </formulas>
    <interviewLabel>POC Impletementation Creation from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POC Impletementation Creation from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Implementation</name>
        <label>Create Implementation1</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Stage__c</field>
            <value>
                <stringValue>1. Resource Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImplementationPOCDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Close_Date__c</field>
            <value>
                <elementReference>POCEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Start_Date__c</field>
            <value>
                <elementReference>$Record.POC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058d000004UevPAAS</stringValue>
            </value>
        </inputAssignments>
        <object>Implementations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Implementation</name>
        <label>Create Implementation2</label>
        <locationX>638</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Stage__c</field>
            <value>
                <stringValue>1. Resource Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImplementationPOCDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Close_Date__c</field>
            <value>
                <elementReference>POCEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Start_Date__c</field>
            <value>
                <elementReference>$Record.POC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058d000004UeufAAC</stringValue>
            </value>
        </inputAssignments>
        <object>Implementations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Implementation</name>
        <label>Create Implementation</label>
        <locationX>110</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Stage__c</field>
            <value>
                <stringValue>1. Resource Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImplementationPOCDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Close_Date__c</field>
            <value>
                <elementReference>POCEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Start_Date__c</field>
            <value>
                <elementReference>$Record.POC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058d000004UeuwAAC</stringValue>
            </value>
        </inputAssignments>
        <object>Implementations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4) OR (1 AND 5) OR (1 AND 6) OR (1 AND 7) OR (1 AND 8) OR (1 AND 9) OR (1 AND 10)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Sales - New Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deferred Sales - Additional Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deferred Sales - Additional Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell - Additional Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell - Additional Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcquisitionSubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell - Edition Upgrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Free Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extra Domain Activation</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X3min_Later</name>
            <connector>
                <targetReference>Territory</targetReference>
            </connector>
            <label>3min Later</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
