force-app/main/default/flows/Product_activation_SLA_dates_GET_DATE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Product_activation_request_SLA_decision</name>
        <label>Product activation request SLA decision</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_and_open_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductActivitationReques__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Please review and open the products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_product_activation_request_date</targetReference>
            </connector>
            <label>Review and open products ?</label>
        </rules>
        <rules>
            <name>the_products_open_from_Gachapon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductActivitationReques__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>The products opened from Gachapon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_product_activation_done_date</targetReference>
            </connector>
            <label>the products open from Gachapon</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product activation SLA dates GET DATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product activation SLA dates GET DATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_product_activation_done_date</name>
        <label>update product activation done date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Product_Activation_Done_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_product_activation_request_date</name>
        <label>update product activation request date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Product_Activation_Request_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_activation_request_SLA_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductActivitationReques__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
