force-app/main/default/flows/Region_Assignment_in_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Region_Assignment</name>
        <label>Region Assignment</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMEA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benelux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CEE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MENA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Russia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Region</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>LATAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Cone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LATAM_Region</targetReference>
            </connector>
            <label>LATAM</label>
        </rules>
        <rules>
            <name>NA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>NA_Region</targetReference>
            </connector>
            <label>NA</label>
        </rules>
        <rules>
            <name>APAC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vietnam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Region</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
        <rules>
            <name>TR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TR_Region</targetReference>
            </connector>
            <label>TR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Region Assignment in Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Region Assignment in Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>APAC_Region</name>
        <label>APAC Region</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <stringValue>APAC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EMEA_Region</name>
        <label>EMEA Region</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LATAM_Region</name>
        <label>LATAM Region</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>LATAM</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NA_Region</name>
        <label>NA Region</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TR_Region</name>
        <label>TR Region</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <stringValue>TR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Region_Assignment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
