force-app/main/default/flows/Sales_Order_Form_Stage_Transition_Auto_fulfilling_start_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Additional_Billingz</name>
        <label>Additional Billing</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.AdditionalBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Backlog_Date_Assignment</name>
        <label>Backlog Date Assignment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Backlog_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ChurnExpired</name>
        <label>ChurnExpired</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ChurnExpiredDatez__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Irregular_Billingz</name>
        <label>Irregular Billing</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.IrregularBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Regular_Billingz</name>
        <label>Regular Billing</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RegularBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Stage_Decision</name>
        <label>Stage Decision</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finance_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderFormStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Review</stringValue>
                </rightValue>
            </conditions>
            <label>Finance Review</label>
        </rules>
        <rules>
            <name>Backlog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderFormStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backlog</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Backlog_Date_Assignment</targetReference>
            </connector>
            <label>Backlog</label>
        </rules>
        <rules>
            <name>Regular_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderFormStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regular_Billingz</targetReference>
            </connector>
            <label>Regular Billing</label>
        </rules>
        <rules>
            <name>Irregular_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderFormStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Irregular Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Irregular_Billingz</targetReference>
            </connector>
            <label>Irregular Billing</label>
        </rules>
        <rules>
            <name>Additional_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderFormStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Billingz</targetReference>
            </connector>
            <label>Additional Billing</label>
        </rules>
        <rules>
            <name>Churn_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderFormStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn / Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChurnExpired</targetReference>
            </connector>
            <label>Churn / Expired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Order Form Stage Transition Auto fulfilling start date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Form Stage Transition Auto fulfilling start date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4) OR(1 AND 5) OR (1 AND 6) OR (1 AND 7)</filterLogic>
        <filters>
            <field>OrderFormStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Irregular Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Additional Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderFormStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Churn / Expired</stringValue>
            </value>
        </filters>
        <object>OrderForm__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
