force-app/main/default/flows/Send_Slack_Messages_for_Churn_Contraction_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SlackBodyVarFinal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Get_Slack_Message.TerritorySlackId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Final_Variable_Replacement</name>
        <label>Final Variable Replacement</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>SlackBodyVarFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SlackBody5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_Replacement</name>
        <label>Variable Replacement</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SlackBodyVar1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SlackBody1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Variable_Replacement_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_Replacement_0</name>
        <label>Variable Replacement</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SlackBodyVar2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SlackBody2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Variable_Replacement_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_Replacement_0_0</name>
        <label>Variable Replacement</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>SlackBodyVar3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SlackBody3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Variable_Replacement_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_Replacement_0_0_0</name>
        <label>Variable Replacement</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SlackBodyVar4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SlackBody4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Variable_Replacement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Message_Found</name>
        <label>Any Message Found</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Slack_Message.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variable_Replacement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SlackBody1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Slack_Message.SlackMessage__c},&quot;{!$Record.Owner.Name}&quot;, {!$Record.Owner.FirstName} &amp;&quot; &quot;&amp;{!$Record.Owner.LastName})</expression>
    </formulas>
    <formulas>
        <name>SlackBody2</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SlackBodyVar1}, &quot;{!$Record.Name}&quot;,{!$Record.Name})</expression>
    </formulas>
    <formulas>
        <name>SlackBody3</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SlackBodyVar2}, &quot;{!$Record.Rejection_Reason__c}&quot;,{!$Record.Rejection_Reason__c})</expression>
    </formulas>
    <formulas>
        <name>SlackBody4</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SlackBodyVar3}, &quot;{!$Record.Account.Name}&quot; , {!$Record.Account.Name})</expression>
    </formulas>
    <formulas>
        <name>SlackBody5</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!SlackBody4},&quot;}&quot;, &quot;&quot;),&quot;{&quot;, &quot;&quot;),&quot;!&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Send Slack Messages for Churn &amp; Contraction Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Slack Messages for Churn &amp; Contraction Opps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Slack_Message</name>
        <label>Get Slack Message</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Message_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ChangeType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessageReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SlackMessageTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Slack_Message</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>OpportunityRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContractionChurnReactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SlackBodyVar1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackBodyVar2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackBodyVar3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackBodyVar4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackBodyVarFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
