force-app/main/default/flows/Update_InOnes_as_Churn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>InOne_Field_Assignment</name>
        <label>InOne Field Assignment</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>InOne.Gainsight_Trigger_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11. Churn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InOne.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InOne_Looper.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InOne.Churn_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Assignment</name>
        <label>Record Assignment</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>InOnes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InOne_Looper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Records_Found</name>
        <label>Any Records Found?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InOneRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InOne_Looper</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update InOnes as Churn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update InOnes as Churn</label>
    <loops>
        <name>InOne_Looper</name>
        <label>InOne Looper</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>InOneRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InOne_Field_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_InOne_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_s_InOnes</name>
        <label>Get Account&apos; s InOnes</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gainsight_Trigger_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>11. Churn</stringValue>
            </value>
        </filters>
        <object>InOne__c</object>
        <outputReference>InOneRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Gainsight_Trigger_Status__c</queriedFields>
        <queriedFields>Churn_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_InOne_Records</name>
        <label>Update InOne Records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>InOnes</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_s_InOnes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContractionChurnReactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InOne</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOne__c</objectType>
    </variables>
    <variables>
        <name>InOneRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOne__c</objectType>
    </variables>
    <variables>
        <name>InOnes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InOne__c</objectType>
    </variables>
</Flow>
